 <link href='@Url.Content("~/Content/jquery-ui.css")' rel="stylesheet" type="text/css" />
<script src='@Url.Content("~/Scripts/js/jquery.min.js")' type="text/javascript"></script>
<script src='@Url.Content("~/Scripts/js/kendo.all.min.js")' type="text/javascript"></script>
<script src='@Url.Content("~/Scripts/js/jquery-ui.js")' type="text/javascript"></script>
<link href="~/Scripts/HtnScripts/POS/kendo.common.min.css" rel="stylesheet" />
<script src="~/Scripts/HtnScripts/POS/kendo.all.min.js"></script>

<div id="FindFormSOCancel" style="display: none">
    <div style="margin-top:5px;">
        <label>OrdNoFrom</label>
          <input  id="OrdNoFromCancel"  type="text" style="width:150px;" class="k-textbox" />
        <label style="margin-left:5px;">OrdNoTo</label>
         <input  id="OrdNoToCancel"  type="text" style="width:150px;" class="k-textbox" />
        <label style="margin-left:5px;">Suplier</label>
        <div id="cmbSup1Cancel"></div>
    </div>
    <div  style="margin-top:5px;" >
        <label style="margin-left:12px;">DateFrom</label>
     
          <input id="FrmDt1Cancel"
                    class=""
                    data-role="datepicker"
                    data-bind="value: DlyDate" /> 
        <label style="margin-left:15px;">DateTo</label>
       
           <input id="ToDt1Cancel"
                    class=""
                    data-role="datepicker"
                    data-bind="value: DlyDate" /> 
        <label style="margin-left:5px;">Project</label>
        <div id="cmbPrjectId1Cancel"></div>
    </div>
    <div  style="margin-top:5px;">
        <label style="margin-left:27px;">DocNo</label>
        <input  id="DocumentNo1Cancel"  type="text" style="width:150px;" class="k-textbox" />
        <button class="k-button" id="btnSearchItem1Cancel" onclick="Search1Cancel();" title="Search" style="margin-left:365px; width: 50px; height: 30px"><img src="~/Images/Search.PNG" /></button>
        <button class="k-button" id="btnCal1Cancel" onclick="btnCal1Cancel();" title="Cancel" style=" margin-left:650px;margin-top:-51px; width: 50px; height: 30px"><img src="~/Images/Cancel.PNG" /></button>
    </div>
    <div  style="margin-top:10px;">
        <div id="FindFormGrid1Cancel"></div>
          <button class="k-button" id="btnOk1Cancel" onclick="Ok1Cancel();" title="Search" style="width: 50px; height: 30px">Ok</button>
        <button class="k-button" id="btnCalcel1Cancel" onclick="btnCal1Cancel();" title="Search" style="width: 50px; height: 30px">Cancel</button>
    </div>
</div>

<script>
    $(document).ready(function () {
        LoadComboFindForm1Cancel();
        LoadGridFindView1Cancel();

        //var todayDate = new Date();
        //$('#ToDt1').data("kendoDatePicker").value(todayDate);

        var height = $(window).height() - 70;
        var h2 = $("#filterCont").height();
        $("#body").height(height);
        $("#grid").height(height - (35 + h2 + 40));
    });

    $("#FrmDt1Cancel").width(150).kendoDatePicker({

        format: "yyyy/MM/dd",
        min: new Date(2009, 2, 31)
    });
    $("#FrmDt1Cancel").closest("span.k-datepicker").width(150);
    $("#ToDt1Cancel").width(150).kendoDatePicker({

        format: "yyyy/MM/dd",
        min: new Date(2009, 2, 31)
    });
    $("#ToDt1Cancel").closest("span.k-datepicker").width(150);

    function ProjectDataSource() {
        var dataSource = new kendo.data.DataSource(
        {
            transport: {
                read: {
                    url:  '@Url.Content("~/SplOrder/GetProjectList")',
                    dataType: "json"
                }
            }

        });
        return dataSource;
    }

    function SupDatasource() {
        var dataSource = new kendo.data.DataSource(
        {
            transport: {
                read: {
                    url:  '@Url.Content("~/SplOrder/GetSuplist")',
                    dataType: "json"
                }
            }

        });
        return dataSource;
    }

    function LoadComboFindForm1Cancel() {
        $("#cmbSup1Cancel").kendoComboBox({
            dataValueField: "AccKy",
            dataTextField: "AccCd",
            dataSource: SupDatasource(),
            filter: "contains",
            suggest: true,
            placeholder: "Select a suplier.."
        });

        $("#cmbPrjectId1Cancel").kendoComboBox({
            dataValueField: "PrjKy",
            dataTextField: "PrjID",
            dataSource: ProjectDataSource(),
            filter: "contains",
            suggest: true,
            placeholder: "Select a From suplier.."
        });

    }

    function LoadGridFindView1Cancel() {

        var dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                   @* url:  '@Url.Content("~/SplOrder/GetDetailByFromTrnKy")',*@
                        dataType: "json"
                    },
                    update: {
                        url: '@Url.Action("UpdateToDo","Home")',
                    contentType: 'application/json; charset=utf-8',
                    dataType: "json",
                    type: "POST",
                    complete: function (e) {
                        alert("Updated successfully..!");
                        var grid = $("#grid").data("kendoGrid");
                        grid.dataSource.read();
                    }
                },
                    destroy: {
                        url: '@Url.Action("UpdateToDo","Home")',
                    contentType: 'application/json; charset=utf-8',
                    dataType: "json",
                    type: "POST",
                    data: { isAct: 0 },
                    complete: function (e) {
                        var grid = $("#grid").data("kendoGrid");
                        grid.dataSource.read();
                    }
                },
                    create: {
                        url: '@Url.Action("InsertToDo","Home")',
                    contentType: 'application/json; charset=utf-8',
                    dataType: "json",
                    type: "POST",
                    complete: function (e) {
                        alert("Saved successfully..!");
                        var grid = $("#grid").data("kendoGrid");
                        grid.dataSource.read();
                    }
                },
                    parameterMap: function (options, operation) {
                        if (operation == "create" && options.models) {
                            return JSON.stringify({ 'todos': options.models }); // Parrameter name of the Controller Action method==> List<ToDoModel>todos
                        }
                        if (operation == "update" && options.models) {
                            return JSON.stringify({ 'todos': options.models }); // Parrameter name of the Controller Action method==> List<ToDoModel>todos

                        }
                        if (operation == "destroy" && options.models) {
                            return JSON.stringify({ 'todos': options.models }); // Parrameter name of the Controller Action method==> List<ToDoModel>todos

                        }
                        if (operation == "read") {
                            return ({

                            });
                        }
                    }
                },
         batch: true,
         pageSize: 10,
         schema: {
             model: {
                 id: "ItmKy",
                 fields: //Relavent fields of the grid should be bind with following model items
                 {
                     Lino: { editable: false, nullable: false, type: "number" },
                     OrdKy: { editable: false, nullable: false, type: "number" },
                     Prefix: { editable: false, nullable: false, type: "number" },
                     OrdNo: { editable: false, nullable: false, type: "number" },
                     OrdDt: { editable: false, nullable: false, type: "date" },
                     DocNo: { editable: false, nullable: false, type: "string" },
                     YurRef: { editable: false, nullable: true, type: "string" },
                     Des: { editable: false, nullable: true, type: "number" },
                     RepID: { editable: false, nullable: false, type: "string" },
                     AprSts: { editable: false, nullable: false, type: "string" },
                 }
             }
         }
     });

        $("#FindFormGrid1Cancel").kendoGrid({
            dataSource: dataSource,
            autobind: true,

            navigatable: true,
            filterable: true,

            pageable: true,
            sortable: true,
            reorderable: true,
            columnMenu: true,

            selectable: "row",
            pageable: { refresh: true, pageSizes: [5, 10, 20, 50, 100] },
            toolbar: [{ name: "create", text: "Add new record" }, "cancel"],

            columns: [
                 {
                     field: "Lino", title: "LiNo", width: "50px",
                 },

                     {
                         field: "OrdKy", title: "Ref #", width: "100px", hidden: true,
                     },
                      {
                          field: "Prefix", title: "Prefix", width: "150px",

                      },
                   {
                       field: "OrdNo",
                       title: "OrdNo",
                       width: "150px",
                   },


               {
                   field: "OrdDt", title: "OrdDt", width: "100px", format: "{0: MM-dd-yyyy}",
                   template: "#= kendo.toString(kendo.parseDate(OrdDt, 'yyyy-MM-dd'), 'MM/dd/yyyy') #",
               },
                {
                    field: "DocNo", title: "DocNo", width: "150px",

                },
                {
                    field: "YurRef", title: "YurRef", width: "150px",
                },

               {
                   field: "Des", title: "Des", width: "150px",
               },
              {
                  field: "RepID", title: "RepID", width: "150px",
              },
               {
                   field: "AprSts", title: "AprSts", width: "150px",
               },
            ],

            resizable: true,

            dataBinding: function () {
                record = (this.dataSource.page() - 1) * this.dataSource.pageSize();
            },

            editable: true
        });

    }

    function Search1Cancel() {
        $('#FindFormGrid1').data("kendoGrid").dataSource.filter(null);
        var grid = $("#FindFormGrid1").data("kendoGrid");
        grid.dataSource.data([]);


        var PrjKy = $("#cmbPrjectId1").data('kendoComboBox').value();
        if (PrjKy == undefined || PrjKy == "" || PrjKy == null) {
            var PrjKy = 1;
        }

        var SupKy = $("#cmbSup1").data('kendoComboBox').value();
        if (SupKy == undefined || SupKy == "" || SupKy == null) {
            var SupKy = 1;
        }

        var FrmDt = $("#FrmDt1").val();
        if (FrmDt == undefined || FrmDt == "" || FrmDt == null) {
            var FrmDt = "1/1/1900";
        }

        var ToDt = $("#ToDt1").val();
        if (ToDt == undefined || ToDt == "" || ToDt == null) {
            var ToDt = "1/1/2078";
        }

        var FrmOrdNo = $("#OrdNoFrom1").val();
        if (FrmOrdNo == undefined || FrmOrdNo == "" || FrmOrdNo == null) {
            var FrmOrdNo = -1;
        }
        var ToOrdNo = $("#OrdNoTo1").val();
        if (ToOrdNo == undefined || ToOrdNo == "" || ToOrdNo == null) {
            var ToOrdNo = -1;
        }

        var DocNo = $("#DocumentNo1").val();
        if (DocNo == undefined || DocNo == "" || DocNo == null) {
            var DocNo = '';
        }
        var ConCd = "OrdTyp";
        var OurCd = "SPLORDCANCEL";

        $.ajax({
            url: "@Url.Content("~/ItmTransfer/GetOrdSearch")",
            data: JSON.stringify({

                PrjKy: PrjKy,
                SupKy: SupKy,
                FrmOrdNo: FrmOrdNo,
                ToOrdNo: ToOrdNo,
                FrmDt: FrmDt,
                ToDt: ToDt,
                DocNo: DocNo,
                ConCd: ConCd,
                OurCd: OurCd

            }),
            contentType: 'application/json; charset=utf-8',
            dataType: "Json",
            type: "POST",
            success: function (data) {
                for (i = 0; i < data.length; i++) {
                    $("#FindFormGrid1Cancel").data("kendoGrid").dataSource.add({ Lino: data[i].Lino, OrdKy: data[i].OrdKy, Prefix: data[i].Prefix, OrdNo: data[i].OrdNo, OrdDt: data[i].OrdDt, DocNo: data[i].DocNo, YurRef: data[i].YurRef, Des: data[i].Des, RepID: data[i].RepID, AprSts: data[i].AprSts });
                }

            },
            error: function (e) {
                return false;
            }
        });

    }

    function Ok1Cancel() {

        var grid = $('#FindFormGrid1Cancel').data().kendoGrid;
        var selectedItem = grid.dataItem(grid.select());
        var ordKy = selectedItem.OrdKy;
        if (ordKy != "" || ordKy != undefined || ordKy != null) {
            GetHdrDetailFindCancel(ordKy);

        } else {
            alert("please Select Any Trancsaction");
        }
    }

    function GetHdrDetailFindCancel(ordKy) {

        $.ajax({
            url: "@Url.Content("~/Order/GetSplSlsHdr")",
                data: JSON.stringify({

                    ordKy: ordKy,
                }),
                contentType: 'application/json; charset=utf-8',
                dataType: "Json",
                type: "POST",
                success: function (data) {

                    for (i = 0; i < data.length; i++) {
                       
                        var TrnNo = data[0].OrdNo;
                        $("#OrdNo1").val(TrnNo);


                        var TrnTypKy = data[0].OrdTypKy;
                        $("#OrdTypKy1").val(TrnTypKy);

                        var TrnKy = data[0].OrdKy;
                        $("#OrdKy1").val(TrnKy);

                        var OrdPrefixKy = data[0].OrdPrefixKy;
                        $("#OrdPrefixKy1").val(OrdPrefixKy);

                        ////  var AdrKy = data[0].AdrKy;
                        // $("#cmbAdr").data("kendoComboBox").value(LocKy);
                        // // $("#cmbAdr").data("kendoComboBox").value(LocKy);
                        //  var AccKy = data[0].AccKy;
                        // $("#cmbAccId").data("kendoComboBox").value(AccKy);
                        //  $("#cmbAccNm").data("kendoComboBox").value(AccKy);

                        var TrnDt = data[0].OrdDtHdr;
                        $('#Date').data("kendoDatePicker").value(TrnDt);

                        var DispachTime = data[0].DispatchTime;
                        $("#cmbdelryTime").data("kendoComboBox").value(DispachTime);


                        var DlyDate = data[0].DlyDateHdr;
                        $('#DlyDate').data("kendoDatePicker").value(DlyDate);

                        var Total = data[0].Total;
                        $("#Total").val(Total);
                    
                        var DisAmt = data[0].DisAmt;
                        $("#DisAmt").val(DisAmt);
                        var DisPer = data[0].DisPer;
                        $("#DisPer").val(DisPer);
                        var DlyNoKy = data[0].DlyNoKy;
                        $("#cmbDlyNo").data('kendoComboBox').value(DlyNoKy);
                        // $("#cmbDlyNo").kendoComboBox({ enable: false });
                        // $("#cmbDlyNo").data('kendoComboBox').value(DlyNoKy);

                        var DocNo = data[0].DocNo;
                        $("#DocNo").val(DocNo);
                        var Des = data[0].Des;
                        $("#textarea").val(Des);
                        // GetInvoiceAccountsDetail(ordKy);

                        GetGridDetailFindCancel(ordKy);


                    }

                },
                error: function (e) {
                    return false;
                }
            });



        }

        function fixedHdr() {

            $("#cmbDlyNo").kendoComboBox({ enable: false });

        }

        function GetGridDetailFindCancel(ordKy) {


            $.ajax({
                url: "@Url.Content("~/Order/GetItemsDetail")",
            data: JSON.stringify({

                ordKy: ordKy,
            }),
            contentType: 'application/json; charset=utf-8',
            dataType: "Json",
            type: "POST",
            success: function (data) {
                $('#grid1').data("kendoGrid").dataSource.filter(null);
                var grid = $("#grid1").data("kendoGrid");
                grid.dataSource.data([]);
                for (i = 0; i < data.length; i++) {

                    var LocKy2 = data[0].LocKy;
                    $("#cmbLocationForSlS").data("kendoComboBox").value(LocKy2);
                    //$("#cmbFmLocNm").data("kendoComboBox").value(LocKy2);

                    //var PrjKy = data[0].PrjKy;
                    //$("#cmbFmPrjId").data("kendoComboBox").value(PrjKy);
                    //$("#cmbFmPrjNm").data("kendoComboBox").value(PrjKy);

                    //var AccKy = data[0].AccKy;
                    //$("#cmbAccId").data("kendoComboBox").value(AccKy);
                    //$("#cmbAccNm").data("kendoComboBox").value(AccKy);

                    //var BuKy = data[0].BuKy;
                    //$("#cmbBUId").data("kendoComboBox").value(BuKy);
                    //$("#cmbBUCd").data("kendoComboBox").value(BuKy);
                    var AdrKy = data[0].AdrKy;
                    $("#cmbAdr").data("kendoComboBox").value(AdrKy);
                
                    var AccKy = data[0].AccKy;
                    $("#cmbAccAdr").data("kendoComboBox").value(AccKy);
                    var AccNm = data[0].OrdAdrNm;
                    $("#cmbAccAdr").data("kendoComboBox").text(AccNm);
                    var AdrKy1 = data[0].DlyAdrKy;
                    $("#cmbDlivry").data("kendoComboBox").value(AdrKy1);

                    var Time = data[0].DlyTimeKy;
                    $("#cmbtimepicker1").data("kendoComboBox").value(Time);
                    var Prdtime = data[0].ProductionTime;
                    $("#cmbtimepicker2").data("kendoComboBox").value(Prdtime);
                    // GetGridDetail(ordKy);

                    if (data[i].isAct==1) {
                    $("#grid1").data("kendoGrid").dataSource.add({
                        OrdDetKy: data[i].OrdDetKy,
                        LiNo: data[i].LiNo,
                        ItmKy: data[i].ItmKy,
                        ItmCd: data[i].ItmCd,
                        ItmNm: data[i].ItmNm,
                        Unit: data[i].Unit,
                        UnitKy: data[i].UnitKy,
                        TrnQty: data[i].TrnQty,
                        DisPer: data[i].DisPer,
                        DisAmt: data[i].DisAmt,
                        TrnRate: data[i].TrnRate,
                        SubTotal: data[i].TrnRate * data[i].TrnQty,
                        Des: data[i].Des,
                        isNot: data[i].isNot,
                        isPrdNxtBatch: data[i].isPrdNxtBatch


                    });
                }


                }
                CreateNewGridRow();
                $('#FindFormSOCancel').data('kendoWindow').close(); //  fixedHdr();
            },
            error: function (e) {
                return false;
            }
        });



    }

</script>

