@{
    ViewBag.Title = "Reports";
    Layout = "~/Views/Shared/_MobileWebViewLayout.cshtml";
}

<link rel="stylesheet" href="~/buttncss/style/css.css" type="text/css" />
<link rel="stylesheet" href="~/Images/BLBanner/style.css" type="text/css" />
<link rel="stylesheet" href="~/buttncss/style/ResponsiveMax.css" type="text/css" />
<script src="~/Scripts/Kendo-2015.2.902/kendo.all.main.min.js"></script>

<link rel="stylesheet" href="~/buttncss/style/cssNew.css" type="text/css" />

<div style="background-color:#E3F0F7;">
    <div class="form">
        <div class="col-md-12 control-icons" id="ButtonSet">
            <button class="control-button preview" onclick="Preview()" id="Preview">Preview</button>
            @*Teleric Dynamic Report done for Account Ledger uncomment this line to work*@
            @*<button class="control-button preview" onclick="TelPreview()">TelPreview</button>*@
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-2 col-sm-2">
                    <label class="lbl">Report Name</label>
                </div>
                <div class="col-md-10 col-sm-10">
                    <div class="cmb" id="cmbRptNm"></div>
                </div>
            </div>
            <div style="border-bottom:1px solid; height:5px"></div>
        </div>

        <div class="form-group" id="ParameterSection"></div>

        <div class="form-group" id="cmbParams">

            <div class="row" id="cmbEmp">
                <div class="col-md-2 col-sm-2">
                    <label class="lbl" id="lblcmbEmpCd">Employee </label>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="cmb" id="cmbEmpCd"></div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="cmbNm" id="cmbEmpNm"></div>
                </div>
            </div>
            <div class="row" id="cmbItm">
                <div class="col-md-2 col-sm-2">
                    <label class="lbl" id="lblcmbItmCd">Item </label>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="cmb" id="cmbItmCd"></div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="cmbNm" id="cmbItmNm"></div>
                </div>
            </div>
            <div class="row" id="cmbPrj">
                <div class="col-md-2 col-sm-2">
                    <label class="lbl" id="lblcmbPrjCd">Project </label>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="cmb" id="cmbPrjCd"></div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="cmbNm" id="cmbPrjNm"></div>
                </div>
            </div>
            <div class="row" id="cmbPrcsSch">
                <div class="col-md-2 col-sm-2">
                    <label class="lbl" id="lblcmbPrcsSchNo">Schedule No </label>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="cmb" id="cmbPrcsSchNo"></div>
                </div>
            </div>
            <div class="row" id="cmbTask">
                <div class="col-md-2 col-sm-2">
                    <label class="lbl" id="lblcmbTaskId">Task </label>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="cmb" id="cmbTaskId"></div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="cmbNm" id="cmbTaskNm"></div>
                </div>
            </div>
            <div class="row" id="cmbAcc">
                <div class="col-md-2 col-sm-2">
                    <label class="lbl" id="lblcmbAccCd">Account </label>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="cmb" id="cmbAccCd"></div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="cmbNm" id="cmbAccNm"></div>
                </div>
            </div>
            <div class="row" id="cmbAdr">
                <div class="col-md-2 col-sm-2">
                    <label class="lbl" id="lblcmbAdrCd">Address </label>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="cmb" id="cmbAdrCd"></div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="cmbNm" id="cmbAdrNm"></div>
                </div>
            </div>
        </div>


        <div class="form-group" id="ParameterSectionForCdMasLookUpCombo"></div>
        <div class="form-group" id="ParameterSectionForNumericBox"></div>
        <div class="form-group" id="ParameterSectionForTextBox"></div>
        <div class="form-group" id="ParameterSectionForCheckBox"></div>
    </div>
</div>

<style>
    .trr {
        padding: 4px 2px;
    }

    ::-webkit-scrollbar {
        display: none;
    }

    /*#req:after {
            content: " *";
            color: red;
        }*/

    body {
        margin-right: -16px;
        overflow-y: scroll;
        overflow-x: hidden;
    }
</style>

<script>
    //View Bag variables
    var viewBag = {
        ObjKy: '@(ViewBag.ObjKy)',
        OurCd: '@(ViewBag.OurCd)',
        OurCd2: '@(ViewBag.OurCd2)',
        ObjCaptn: '@(ViewBag.ObjCaptn)',
        ChildKy: '@(ViewBag.ChildKy)',
    }

    var urlReport = {
        UsrObjPrp_SelectWeb: '@Url.Content("~/ObjMas/UsrObjPrp_SelectWeb")',
        ReportComboLoad: '@Url.Content("~/Report/ReportComboLoad")',
        UsrObjSec_SelectWeb: '@Url.Content("~/ObjMas/UsrObjSec_SelectWeb")',
        UsrObjChild_SelectByPrntandSubObjTypWeb: '@Url.Content("~/ObjMas/UsrObjChild_SelectByPrntandSubObjTypWeb")',
        GetProjectId: '@Url.Content("~/Accounts_Reports/GetProjectId")',
        GetProjectNm: '@Url.Content("~/Accounts_Reports/GetProjectNm")',
        CdmasLookUpModelWeb: '@Url.Content("~/Accounts_Reports/CdmasLookUpModelWeb")',

        SetParamsToSession: '@Url.Content("~/Report/SetParamsToSession")',

        ItmCd_SelectWeb: '@Url.Content("~/Transaction/ItmCd_SelectWeb")',
        ItmNm_SelectWeb: '@Url.Content("~/Transaction/ItmNm_SelectWeb")',

        //EmpNo_SelectWeb , EmpNm_SelectWeb
        EmpNo_SelectWeb: '@Url.Content("~/ComboLoad/EmpNo_SelectMob")',
        EmpNm_SelectWeb: '@Url.Content("~/ComboLoad/EmpNm_SelectMob")',

        GetTaskList: '@Url.Content("~/Transaction/GetTaskList")'

        @*AccLed: '@Url.Content("~/Report/AccLed")',
        TrialBal_Report: "@Url.Content("~/Report/TrialBal_Report")",
        SubConLedWithCr: "@Url.Content("~/Report/SubConLedWithCr")",
        AccLed: "@Url.Content("~/Report/AccLed")",
        AccLedPrevwRprt: "@Url.Content("~/Report/AccLedPrevwRprt")",*@
    }

</script>

<script src="~/Scripts/HtnScripts/Report/Reports.js"></script>
@*Set Default and Object Properties From ObjMas*@
<script>

    var urlComboLoad = {
        AccCd_SelectMob: '@Url.Content("~/ComboLoad/AccCd_SelectMob")',
        AccNm_SelectMob: '@Url.Content("~/ComboLoad/AccNm_SelectMob")',
        AdrID_SelectMob: '@Url.Content("~/ComboLoad/AdrID_SelectMob")',
        AdrNm_SelectMob: '@Url.Content("~/ComboLoad/AdrNm_SelectMob")',
        Code_SelectMob: '@Url.Content("~/ComboLoad/Code_SelectMob")',
        CdNm_SelectMob: '@Url.Content("~/ComboLoad/CdNm_SelectMob")',
        ItmCd_SelectMob: '@Url.Content("~/ComboLoad/ItmCd_SelectMob")',
        ItmNm_SelectMob: '@Url.Content("~/ComboLoad/ItmNm_SelectMob")',
        PrcsSchNo_SelectMob: '@Url.Content("~/ComboLoad/PrcsSchNo_SelectMob")'
    }

    var urlCodes = {
        GetCdKyByConCdAndOurCd: '@Url.Content("~/Codes/GetCdKyByConCdAndOurCd")'
    }

    var urlGetPrjID_SelectMob = '@Url.Content("~/GanttChart/GetPrjID_SelectMobByObjKy")';
    var urlGetPrjNm_SelectMob = '@Url.Content("~/GanttChart/GetPrjNm_SelectMobByObjKy")';

    var urlUsrObjPrp_SelectDeepSearchWeb = '@Url.Content("~/ObjMas/UsrObjPrp_SelectDeepSearchWeb")';
    var urlUsrObjPrp_SelectAllLastChildWeb = '@Url.Content("~/ObjMas/UsrObjPrp_SelectAllLastChildWeb")';

    var urlCodes = {
        GetCdKyByConCdAndOurCd: '@Url.Content("~/Codes/GetCdKyByConCdAndOurCd")'
    }

    var urlCodesCdMas_LookupWebByConCd = '@Url.Content("~/Codes/CdMas_LookupWebByConCd")';
</script>
<script src="~/Scripts/HtnScripts/HtnShared/CommonObjMasPropSet.js"></script>
<script src="~/Scripts/HtnScripts/HtnShared/CommonFunction.js"></script>
<script src="~/Scripts/HtnScripts/HtnShared/CopyPaste.js"></script>

