<style>
    /*http://www.telerik.com/forums/bootstrap-grid-system-is-not-working*/
    /* reset everything to the default box model */

    /**, :before, :after {
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
    }*/

    /* set a border-box model only to elements that need it */

    .form-control, /* if this class is applied to a Kendo UI widget, its layout may change */
    .container,
    .container-fluid,
    .row,
    .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1,
    .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2,
    .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3,
    .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4,
    .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5,
    .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6,
    .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7,
    .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8,
    .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9,
    .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
    .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11,
    .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    @@media only screen and (max-width: 768px) {
        #FindFormGRN {
            font-size: 16px !important;
        }
    }

    #FindFormGridGRN .k-grid-content {
        height: 24.5vh;
    }
</style>

<div id="FindFormGRN" class="no-margin row" style="display: none; overflow-y: hidden; overflow-x: hidden; font-size:11px;">
    <div class="row m-l--15">
        <div class="col-md-12 control-icons no-padding" id="ButtonSet">
            <div id="ButtonSec2" class="col-lg-5 col-md-5"></div>
        </div>
    </div>
    @*<div class="k-content clearfix" id="filterCont">
        <div class="col-md-6 control-icons width-100" id="ButtonSetFind">
            <button class="control-button preview" onclick="SearchGRN()" data-tooltip="preview"> </button>
            <button class="control-button import" onclick="OkGRN()" data-tooltip="select"> </button>
            <button class="control-button cancel" onclick="Clear()" data-tooltip="clear filter"> </button>
            <button class="control-button back" onclick="btnCalGRN()" data-tooltip="close"> </button>
        </div>*@

    <!--===============================================================-->

    <div class="row m-t-10" id="HdrSec10">
        <!-- section 01 -->
        <div class="col-md-3 col-sm-12 col-xs-12">
            <!-- From -->
            <div class="row form-inline form-group" id="HdrSec10_Dat_FF_FromDate">
                <div class="col-md-4 col-sm-6 col-xs-12 p-r-0"><label id="HdrSec10_Dat_FF_FromDate_Lbl">From:</label></div>
                <div class="col-md-8 col-sm-6 col-xs-12  "><input id="HdrSec10_Dat_FF_FromDate_Val" class="p-t-0 p-b-0 width-100" placeholder="From Date" /></div>
            </div>
            <!-- /From -->
            <!-- To -->
            <div class="row form-inline form-group" id="HdrSec10_Dat_FF_Todt">
                <div class="col-md-4 col-sm-6 col-xs-12 p-r-0"><label id="HdrSec10_Dat_FF_Todt_Lbl">To:</label></div>
                <div class="col-md-8 col-sm-6 col-xs-12 p-t-0 p-b-0"><input id="HdrSec10_Dat_FF_Todt_Val" class="p-t-0 p-b-0 width-100" placeholder="To Date" /></div>
            </div>
            <!-- /To -->
            <!-- Order No -->
            <div class="row form-inline form-group" id="HdrSec10_Inpt_FF_OrdNo">
                <div class="col-md-4 col-sm-6 col-xs-12 p-r-0"><label id="HdrSec10_Inpt_FF_OrdNo_Lbl">Order No:</label></div>
                <div class="col-md-8 col-sm-6 col-xs-12"><input placeholder="Order No" id="HdrSec10_Inpt_FF_OrdNo_Val" type="text" class="k-textbox width-100" /></div>
            </div>
            <!-- /Order No -->
            <!-- Doc No -->
            <div class="row form-inline form-group" id="HdrSec10_Inpt_FF_DocNo">
                <div class="col-md-4 col-sm-6 col-xs-12 p-r-0"><label id="HdrSec10_Inpt_FF_DocNo_Lbl">Doc No:</label></div>
                <div class="col-md-8 col-sm-6 col-xs-12"><input placeholder="Document No" id="HdrSec10_Inpt_FF_DocNo_Val" type="text" class="k-textbox width-100" /></div>
            </div>
            <!-- /Doc No -->
            <!-- Your Ref -->
            <div class="row form-inline form-group" id="HdrSec10_Inpt_FF_YurRef">
                <div class="col-md-4 col-sm-6 col-xs-12 p-r-0"><label id="HdrSec10_Inpt_FF_YurRef_Lbl">Your Ref:</label></div>
                <div class="col-md-8 col-sm-6 col-xs-12"><input placeholder="Your Reference" id="HdrSec10_Inpt_FF_YurRef_Val" data-cpypst-blsmartcpypaste="Yurref" type="text" class="k-textbox width-100" /></div>
            </div>
            <!-- /Your Ref -->
            <!-- ApproveStatus -->
            <div class="row form-inline form-group" id="HdrSec10_Cmb_FF_AprStatesAction">
                <div class="col-md-4 col-sm-6 col-xs-12 p-r-0"><label id="HdrSec10_Cmb_FF_AprStatesAction_Lbl">ApproveStatus:</label></div>
                <div class="col-md-8 col-sm-6 col-xs-12"><input placeholder="Status" id="HdrSec10_Cmb_FF_AprStatesAction_Val" type="text" class="width-100" /></div>
            </div>
            <!-- /ApproveStatus -->
        </div>
        <!-- section 02 -->
        <div class="col-md-6 col-sm-12 col-xs-12 p-r-lg-25">
            <!-- Trn No -->
            <div class="row form-inline form-group" id="HdrSec10_Cmb_FF_TrnNo">
                <div class="col-md-2 col-sm-12 col-xs-12 p-l-lg-25"><label id="HdrSec10_Cmb_FF_TrnNo_Lbl">Trn No:</label></div>
                <div class="col-md-3 col-sm-4 col-xs-12 p-r-0-lg form-group"><input id="HdrSec10_Cmb_FF_TrnNo_Cd" class="width-100" /></div>
                <div class="col-md-4 col-sm-8 col-xs-12 p-l-0-lg form-group"><input placeholder="Trn No" id="HdrSec10_Cmb_FF_TrnNo_Val" type="text" class="k-textbox width-100" /></div> <!-- id="TrnNo" -->
            </div>
            <!-- /Trn No -->
            <!-- Item -->
            <div class="row form-inline form-group" id="HdrSec10_Cmb_FF_Item">
                <div class="col-md-2 col-sm-12 col-xs-12 p-l-lg-25"><label id="HdrSec10_Cmb_FF_Item_Lbl"><span id="CrDrDetail">Item:</span> </label></div>
                <div class="col-md-10 col-sm-4 col-xs-12 p-r-0-lg form-group"><input id="HdrSec10_Cmb_FF_Item_Cd" data-cpypst-blsmartcpypaste="" class="width-100" /></div>
                @*<div class="col-md-7 col-sm-8 col-xs-12 p-l-2-lg form-group"><input id="HdrSec10_Cmb_FF_Item_Nm" data-cpypst-blsmartcpypaste="" class="width-100" /></div>*@
            </div>
            <!-- /Item -->
            <!-- Address -->
            <div class="row form-inline form-group" id="HdrSec10_Cmb_FF_HdrAdr">
                <div class="col-md-2 col-sm-12 col-xs-12 p-l-lg-25"><label id="HdrSec10_Cmb_FF_HdrAdr_Lbl">Address:</label></div>
                <div class="col-md-10 col-sm-4 col-xs-12 p-r-0-lg form-group"><input id="HdrSec10_Cmb_FF_HdrAdr_Cd" data-cpypst-blsmartcpypaste="AdrId" class="width-100" /></div>
                @*<div class="col-md-7 col-sm-8 col-xs-12 p-l-2-lg form-group"><input id="HdrSec10_Cmb_FF_HdrAdr_Nm" data-cpypst-blsmartcpypaste="AdrNm" class="width-100" /></div>*@
            </div>
            <!-- /Address -->
            <!-- Location -->
            <div class="row form-inline form-group" id="HdrSec10_Cmb_FF_Loc">
                <div class="col-md-2 col-sm-12 col-xs-12 p-l-lg-25"><label id="HdrSec10_Cmb_FF_Loc_Lbl"><span id="CrDrDetail">Location:</span> </label></div>
                <div class="col-md-10 col-sm-4 col-xs-12 p-r-0-lg form-group"><input id="HdrSec10_Cmb_FF_Loc_Cd" data-cpypst-blsmartcpypaste="" class="width-100" /></div>
                @*<div class="col-md-7 col-sm-8 col-xs-12 p-l-2-lg form-group"><input id="HdrSec10_Cmb_FF_Loc_Nm" data-cpypst-blsmartcpypaste="" class="width-100" /></div>*@
            </div>
            <!-- /Location -->
            <!-- Project -->
            <div class="row form-inline form-group" id="HdrSec10_Cmb_FF_Prj">
                <div class="col-md-2 col-sm-12 col-xs-12 p-l-lg-25"><label id="HdrSec10_Cmb_FF_Prj_Lbl">Project:</label></div>
                <div class="col-md-10 col-sm-4 col-xs-12 p-r-0-lg form-group"><input id="HdrSec10_Cmb_FF_Prj_Cd" data-cpypst-blsmartcpypaste="PrjId" class="width-100" /></div>
                @*<div class="col-md-7 col-sm-8 col-xs-12 p-l-2-lg form-group"><input id="HdrSec10_Cmb_FF_Prj_Nm" data-cpypst-blsmartcpypaste="PrjNm" class="width-100" /></div>*@
            </div>
            <!-- /Project -->
            <!-- Supplier -->
            <div class="row form-inline form-group" id="HdrSec10_Cmb_FF_Supl">
                <div class="col-md-2 col-sm-12 col-xs-12 p-l-lg-25"><label id="HdrSec10_Cmb_FF_Supl_Lbl">Supplier:</label></div>
                <div class="col-md-10 col-sm-4 col-xs-12 p-r-0-lg form-group"><input id="HdrSec10_Cmb_FF_Supl_Cd" data-cpypst-blsmartcpypaste="AccId" class="width-100" /></div>
                @*<div class="col-md-7 col-sm-8 col-xs-12 p-l-2-lg form-group"><input id="HdrSec10_Cmb_FF_Supl_Nm" data-cpypst-blsmartcpypaste="AccNm" class="width-100" /></div>*@
            </div>
            <!-- /Supplier -->
        </div>
        <!-- section 03 -->
        <div class="col-lg-2 col-md-2 col-sm-10 col-xs-12">
            <!-- Is Recurrence -->
            <div class="row m-b-4 form-group" id="HdrSec10_Chkbox_FF_IsRec">
                <div class="float-left col-md-7 col-sm-6 col-xs-6 p-r-0"><label id="HdrSec10_Chkbox_FF_IsRec_Lbl">Is Recurrence:</label></div>
                <div class="float-right col-md-5 col-sm-6 col-xs-6 p-r-0">
                    @*<label class="lbl-switch"> <input type="checkbox" id="HdrSec10_Chkbox_FF_IsRec_Val" name="IsRec" /> <div> <span class="on">Yes</span> <span class="off">No</span> </div> <i></i> </label>*@
                    <div class="onoffswitch margin-auto m-r-lg-5">
                        <input type="checkbox" id="HdrSec10_Chkbox_FF_IsRec_Val" name="onoffswitch" class="onoffswitch-checkbox">
                        <label class="onoffswitch-label" for="HdrSec10_Chkbox_FF_IsRec_Val">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
                </div>
            </div>
            <!-- /Is Recurrence -->
            <!-- Is Printed -->
            <div class="row m-b-4 form-group" id="HdrSec10_Chkbox_FF_IsPrnt">
                <div class="float-left col-md-7 col-sm-6 col-xs-6 p-r-0"><label id="HdrSec10_Chkbox_FF_IsPrnt_Lbl">Is Printed:</label></div>
                <div class="float-right col-md-5 col-sm-6 col-xs-6 p-r-0">
                    @*<label class="lbl-switch"> <input id="HdrSec10_Chkbox_FF_IsPrnt_Val" name="IsPrnt" type="checkbox" /> <div> <span class="on">Yes</span> <span class="off">No</span> </div> <i></i> </label>*@
                    <div class="onoffswitch margin-auto m-r-lg-5">
                        <input type="checkbox" id="HdrSec10_Chkbox_FF_IsPrnt_Val" name="onoffswitch" class="onoffswitch-checkbox">
                        <label class="onoffswitch-label" for="HdrSec10_Chkbox_FF_IsPrnt_Val">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
                </div>
            </div>
            <!-- /Is Printed -->
        </div>
    </div>

    <br />
    <div class="row m-l--15 m-b-sm-500">
        <div class="col-md-12 col-sm-12">
            <div id="FindFormGridGRN"> </div>
        </div>
    </div>

</div>

<script>
    var urlFindInvoice = {
        GetProjectList: '@Url.Content("~/Transaction/GetProjectList")',
        GetSuplist: '@Url.Content("~/Transaction/GetSuplist")',
        GetDetailByFromTrnKy: '@Url.Content("~/Transaction/GetDetailByFromTrnKy")',
        GetGRNList: '@Url.Content("~/Transaction/GetGRNList")',
        GetGridInvoiceDetail: '@Url.Content("~/Transaction/GetGridInvoiceDetail")',
        GetInvoiceItemsDetail: '@Url.Content("~/Transaction/GetInvoiceItemsDetail")',
        GetPrjPrgrsItmTrn: '@Url.Content("~/Transaction/PrjPrgrsItmTrn_SelectWeb")',
        Code_SelectWeb: '@Url.Content("~/Codes/CdMas_LookupWebByConCd")'

    };

    var urlFindInvoiceHome = {
        UpdateToDo: '@Url.Action("UpdateToDo","Home")',
        InsertToDo: '@Url.Action("InsertToDo","Home")'
    }
</script>

<script src="~/Scripts/HtnScripts/ProjectProgresCost/FindForm.js"></script>
