@{
    ViewBag.Title = "Welfare Loan";
    Layout = "~/Views/Shared/_LayOutWithLatestKendoScript.cshtml";

}
<link rel="stylesheet" href="~/buttncss/style/cssNew.css" type="text/css" />

<div>
    <div class="k-content clearfix" id="filterCont">

        <div class="col-md-12 control-icons" id="ButtonSet">

            <button class="control-button save" onclick="SaveUpdate('save') " data-tooltip="Save"> </button>
            <button class="control-button save_and_new" onclick="SaveUpdate('saveandnew')" data-tooltip="Save And New"> </button>
            <button class="control-button update" onclick="SaveUpdate('Update')" data-tooltip="Update"> </button>
            <button class="control-button cancel" onclick="clearfunction()" data-tooltip="Cancel"> </button>


        </div>
        <div>
            @Html.Partial("~/Views/HRISEmployee/EmpGetDet.cshtml")
        </div>
        <div>
            @Html.Partial("~/Views/HRISEmployee/GetEmp.cshtml")
        </div>
        <div id="">
            <div class="col-md-3 col-sm-6">
                <div class="wr_formGroup">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <label>From Date:</label>
                            </div>
                            <div class="col-md-6 col-sm-6 ">
                                <input id="fromDate" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <label>To Date:</label>
                            </div>
                            <div class="col-md-6 col-sm-6 ">
                                <input id="toDate" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <label>Borrowed Date:</label>
                            </div>
                            <div class="col-md-6 col-sm-6 ">
                                <input id="borrowedDate" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <label>Loan Type:</label>
                            </div>
                            <div class="col-md-6 col-sm-8 ">
                                <div id="cmbLoanType" data-cpypst-blsmartcpypaste="cmbLoanType"></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <label>Loan Amount:</label>
                            </div>
                            <div class="col-md-6 col-sm-8 ">
                                <input placeholder="Loan Amount" id="loanAmount" type="text" class="k-textbox" />

                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <label>Install Amount:</label>
                            </div>
                            <div class="col-md-6 col-sm-8 ">
                                <input placeholder="Install Amount" id="installAmount" type="text" class="k-textbox" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="wr_formGroup">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <label>No of Install:</label>
                            </div>
                            <div class="col-md-6 col-sm-8 ">
                                <input placeholder="No of Install" id="noofInstall" type="text" class="k-textbox" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <label>Inerest Rate:</label>
                            </div>
                            <div class="col-md-6 col-sm-8 ">
                                <input placeholder="Inerest Rate" id="inerestRate" type="text" class="k-textbox" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <label>Interest Amount:</label>
                            </div>
                            <div class="col-md-6 col-sm-8 ">
                                <input placeholder="Interest Amount" id="interestAmount" type="text" class="k-textbox" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <label>Total Payable:</label>
                            </div>
                            <div class="col-md-6 col-sm-8 ">
                                <input placeholder="Total Payable" id="totalPayable" type="text" class="k-textbox" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <label>Pay Back Period:</label>
                            </div>
                            <div class="col-md-6 col-sm-8 ">
                                <input placeholder="Pay Back Period" id="payBackPeriod" type="text" class="k-textbox" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                @Html.Partial("~/Views/HRISEmployee/Salary/BankDet_partial.cshtml")
            </div>
        </div>
    </div>
    <br style="clear:both" />
    <div class="col-md-12 col-sm-12">
        <div id="welfareGrid">
        </div>
    </div>
</div>
<div>
    @* @Html.Partial("~/Views/Journal/JournalFind.cshtml")*@
</div>

<script>
    var OurCode = "@(ViewBag.OurCd)";
    var urlHRISEmployeeGetCdMas_LookupWeb = '@Url.Content("~/HRISEmployee/GetCdMas_LookupWeb")';
    var urlHRISGetBnkMas_LookupWeb = '@Url.Content("~/HRISEmployee/GetBnkMas_LookupWeb")';

    var urlInsertWelfareLoanDet = '@Url.Content("~/HRISEmployee/HRISInsertWelfareLoanDet")';
    var urlGetwelfareLoanDet = '@Url.Content("~/HRISEmployee/HRISGetWelfareLoanDet")';
</script>

<style>
    .ob-Center {
        text-align: center;
    }

    .ob-right {
        text-align: center;
    }
</style>

<script src="~/Scripts/HtnScripts/HRISEmployee/WelfareLoan.js"></script>

