@{
    ViewBag.Title = "EmpOtherDetails";
    Layout = "~/Views/Shared/_LayOutWithLatestKendoScript.cshtml";
}

<link rel="stylesheet" href="~/buttncss/style/cssNew.css" type="text/css" />

<div class="col-md-12 control-icons" id="ButtonSet">
    <button class="control-button save" onclick="Save()" data-tooltip="Save"> </button>
    <button class="control-button add " onclick="Add()" data-tooltip="Add"> </button>

    <button class="control-button clean " onclick="EmpDetailClear()" data-tooltip="Clear"> </button>

    <div>
        @Html.Partial("~/Views/HRISEmployee/GetEmp.cshtml")
    </div>

</div>

<br style="clear: both" />

<div id="HdrSec1" style="margin-top:10px;margin-left:30px;margin-right:30px;">
    <div class="col-md-12  col-sm-12">
        <div class="wr_formGroup">

            <div class="form-group">
                <div class="row">
                    <div class="col-md-2 col-sm-4">
                        <label id="HdrSec1_CmbEmpNo_lbl">Employee No:</label>
                    </div>

                    <div class="col-md-2 col-sm-4 ">
                        <input id="HdrSec1_CmbEmpNo_cd" class="combo" />
                    </div>

                    <div class="col-md-2 col-sm-4">
                        <label id="HdrSec1_CmbEmpNm_lbl">Employee Name:</label>
                    </div>
                    <div class="col-md-2 col-sm-4 ">
                        <input id="HdrSec1_CmbEmpNm_Nm" />
                    </div>
                </div>
            </div>

            <br style="clear: both" />

            <div class="form-group">
                <div class="row">
                    <div id="HdrSec1_DatPicFrmDt">
                        <div class="col-md-2 col-sm-4">
                            <label id="HdrSec1_DatPicFrmDt_Lbl">Effective Date:</label>
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <input id="HdrSec1_DatPicFrmDt_Val"
                                   style="width:100%;"
                                   class=""
                                   data-role="datepicker"
                                   data-bind="value: HdrSec1_DatPicFrmDt_Val" />
                        </div>
                    </div>

                    <div id="HdrSec1_DatPicToDt">
                        <div class="col-md-2 col-sm-4">
                            <label id="HdrSec1_DatPicToDt_Lbl">To Date:</label>
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <input id="HdrSec1_DatPicToDt_Val"
                                   style="width:100%;"
                                   class=""
                                   data-role="datepicker"
                                   data-bind="value: HdrSec1_DatPicToDt_Val" />
                        </div>
                    </div>
                </div>
            </div>

            <br style="clear: both" />



            <div class="form-group">
                <div class="row">

                        <div id="HdrSec1_CmbType">
                            <div class="col-md-2 col-sm-4">
                                <label id="HdrSec1_CmbType_lbl">Type:</label>
                            </div>

                            <div class="col-md-2 col-sm-4 ">
                                <input id="HdrSec1_CmbType_Nm" class="combo" style="width:100%" />
                            </div>
                        </div>

                    <div id="HdrSec1_CmbCode">
                        <div class="col-md-2 col-sm-4">
                            <label id="HdrSec1_CmbCode_lbl">Code:</label>
                        </div>

                        <div class="col-md-2 col-sm-4 ">
                            <input id="HdrSec1_CmbCode_Nm" class="combo" style="width:100%" />
                        </div>
                    </div>

                </div>


            </div>

            <br style="clear: both" />

            <div id="GridEmpOthr" class="grid"></div>

        </div>
    </div>
</div>



<script>

    var todayDate = new Date();
    var dd = todayDate.getDate();
    var mm = todayDate.getMonth() + 1; //January is 0!

    var yyyy = todayDate.getFullYear();
    if (dd < 10) {
        dd = '0' + dd
    }
    if (mm < 10) {
        mm = '0' + mm
    }
    var todayDate = dd + '/' + mm + '/' + yyyy;

    //$('#HdrSec1_DatPicDate_Val').data("kendoDatePicker").value(todayDate);

    var globalVariable = {
        FinItmKy: 1,
        TodayDate: todayDate
    }

    var urlComboLoad = {
        AccCd_SelectMob: '@Url.Content("~/ComboLoad/AccCd_SelectMob")',
        AccNm_SelectMob: '@Url.Content("~/ComboLoad/AccNm_SelectMob")',
        AdrID_SelectMob: '@Url.Content("~/ComboLoad/AdrID_SelectMob")',
        AdrNm_SelectMob: '@Url.Content("~/ComboLoad/AdrNm_SelectMob")',
        Code_SelectMob: '@Url.Content("~/ComboLoad/Code_SelectMob")',
        CdNm_SelectMob: '@Url.Content("~/ComboLoad/CdNm_SelectMob")',
        ItmCd_SelectMob: '@Url.Content("~/ComboLoad/ItmCd_SelectMob")',
        ItmNm_SelectMob: '@Url.Content("~/ComboLoad/ItmNm_SelectMob")'
    }

    var viewBag = {
        ObjKy: '@(ViewBag.ObjKy)',
        OurCd: '@(ViewBag.OurCd)',
        OurCd2: '@(ViewBag.OurCd2)',
        ObjCaptn: '@(ViewBag.ObjCaptn)'
    }



</script>
@*Set Default and Object Properties From ObjMas*@
<script>
    var urlUsrObjPrp_SelectDeepSearchWeb = '@Url.Content("~/ObjMas/UsrObjPrp_SelectDeepSearchWeb")';
    var urlUsrObjPrp_SelectAllLastChildWeb = '@Url.Content("~/ObjMas/UsrObjPrp_SelectAllLastChildWeb")';
</script>

<script type="text/javascript">

 
    var urlHRISEmployeeGetCdMas_LookupWeb = '@Url.Content("~/HRISEmployee/GetCdMas_LookupWeb")';

    var urlEmpMas = {
        Employee_LookUp_Web: '@Url.Content("~/OTEntry/GetEmployee")',
        GetTypeOth: '@Url.Content("~/EmpMas/GetTypeOth")',
        GetCountry: '@Url.Content("~/EmpMas/GetCountry")',
        GetCodeOth: '@Url.Content("~/EmpMas/GetCodeOth")',
        GetTypeAdd: '@Url.Content("~/EmpMas/GetTypeAdd")',
        GetTypeAdd: '@Url.Content("~/EmpMas/GetTypeAdd")',
        InsertOtherDetails: '@Url.Content("~/EmpMas/InsertOtherDetails")',
        InsertEmployee: "@Url.Content("~/EmpMas/InsertEmployee")",
        CheckEmployee: "@Url.Content("~/EmpMas/CheckEmployee")",
    GetEmpDetails: "@Url.Content("~/EmpMas/GetEmpDetails")",
    GetAddrsDetails:"@Url.Content("~/EmpMas/GetAddrsDetails")",
    GetOtherDetails: "@Url.Content("~/EmpMas/GetOtherDetails")",

    }

</script>


<script src="~/Scripts/HtnScripts/HtnShared/CommonObjMasPropSet.js"></script>
<script src="~/Scripts/HtnScripts/HtnShared/ComboDataSrc.js"></script>
<script src="~/Scripts/HtnScripts/HtnShared/CommonFunction.js"></script>
<script src="~/Scripts/HtnScripts/HtnShared/CopyPaste.js"></script>



<script src="~/Scripts/HtnScripts/EmpMas/EmpOtherDetails.js"></script>