<div>
    @Html.Partial("~/Views/DailyToDo/PrcsDetCmpn/PrcsDetCmpnPartial.cshtml")
</div>





<script>

    $(document).ready(function () {
        $('#PrcsSchDetCmpnPartial_SS_Div').hide();
    });

    var todayDate = new Date();
    var dd = todayDate.getDate();
    var mm = todayDate.getMonth() + 1; //January is 0!

    var yyyy = todayDate.getFullYear();
    if (dd < 10) {
        dd = '0' + dd
    }
    if (mm < 10) {
        mm = '0' + mm
    }
    var todayDate = dd + '/' + mm + '/' + yyyy;

    var globalVariable = {
        PrcsDetKy: 1,
        FinItmKy: 1,
        TodayDate: todayDate
    }

    var urlObjMas = {
        UsrObjPrp_SelectWeb: '@Url.Action("UsrObjPrp_SelectWeb", "ObjMas")',
        UsrObjPrp_SelectMulti: '@Url.Action("UsrObjPrp_SelectMulti", "ObjMas")'
    }

    var urlCmpnBld = {
        @*SaveItmCmpn: '@Url.Content("~/OrdDetCmpn/SaveOrdDetCmpn")',
        ItmCmpn_SelectWeb: '@Url.Content("~/OrdDetCmpn/OrdDetCmpn_SelectWeb")'*@
        SaveItmCmpn: '@Url.Content("~/PrcsDetCmpn/SavePrcsDetCmpn")',
        ItmCmpn_SelectWeb: '@Url.Content("~/PrcsDetCmpn/OrdDetCmpn_SelectWeb")'
    }

    var viewBag = {
        ObjKy: '@(ViewBag.ObjKy)',
        OurCd: '@(ViewBag.OurCd)',
        OurCd2: '@(ViewBag.OurCd2)',
        ObjCaptn: '@(ViewBag.ObjCaptn)'
    }



    $(document).ready(function () {
        document.getElementById("divSplitter").style.minHeight = "220px";
    });
</script>

@*all new script*@

<script src="~/Scripts/HtnScripts/Daily To Do/PrcsDetCmpn/GridLoad.js"></script>
<script src="~/Scripts/HtnScripts/Daily To Do/PrcsDetCmpn/PrcsDetCmpn.js"></script>

<script src="~/Scripts/HtnScripts/Daily To Do/PrcsDetDetailChanged.js"></script>
<script src="~/Scripts/HtnScripts/Daily To Do/SavePrcsDetCmpn.js"></script>

@*all new script*@

@*<script src="~/Scripts/HtnScripts/OrdDetCmpn/OrdDetCmpn.js"></script>
    <script src="~/Scripts/HtnScripts/OrdDetCmpn/Calculation.js"></script>
    <script src="~/Scripts/HtnScripts/OrdDetCmpn/ComboLoad.js"></script>
    <script src="~/Scripts/HtnScripts/OrdDetCmpn/DetailChangeEvent.js"></script>
    <script src="~/Scripts/HtnScripts/OrdDetCmpn/KeyDownEvent.js"></script>
    <script src="~/Scripts/HtnScripts/OrdDetCmpn/SaveFunction.js"></script>
    <script src="~/Scripts/HtnScripts/OrdDetCmpn/SelectFunction.js"></script>
    <script src="~/Scripts/HtnScripts/OrdDetCmpn/ClearFunction.js"></script>*@

@*Set Default and Object Properties From ObjMas*@
<script>
    var urlUsrObjPrp_SelectDeepSearchWeb = '@Url.Content("~/ObjMas/UsrObjPrp_SelectDeepSearchWeb")';

    var urlPrcsDetCmpn_InsertWeb = '@Url.Content("~/PrcsDetCmpn/PrcsDetCmpn_InsertWeb")';
    
</script>
<script src="~/Scripts/HtnScripts/HtnShared/CommonObjMasPropSet.js"></script>

@*var viewBag = {
    ObjKy: '@(ViewBag.ObjKy)',
    OurCd: '@(ViewBag.OurCd)',
    OurCd2: '@(ViewBag.OurCd2)',
    ObjCaptn: '@(ViewBag.ObjCaptn)'
    }*@



