@{
    ViewBag.Title = "PrjAdr";
    Layout = "~/Views/Shared/_LayOutWithLatestKendoScript.cshtml";
    <link rel="stylesheet" href="~/buttncss/style/cssNew.css" type="text/css" />
}

<div style="height:40px;" class="k-content clearfix" id="filterCont">
    <div class="col-lg-3 col-md-3 col-sm-6" id="HdrSec1_CmbEmpNo">
        <div class="row form-group">
            <div class="col-md-12" id="ButtonSet">
                @*<button class="control-button add" onclick="insertItem() " data-tooltip="add"> </button>*@
                <button class="control-button load" id="btnLoadItem" title="Load" onclick="Load()" data-tooltip="Load"> </button>
                <button class="control-button save" id="btnSave" onclick="Save()" title="Save" data-tooltip="Save"></button>
                <button class="control-button cancel" id="btnCancel" onclick="CancelGridItem()" title="Cancel" data-tooltip="Cancel"></button>

            </div>
        </div>
    </div>
</div>
<div style="height:2px; background-color:blue;"></div>
<div class="col-md-7  col-sm-6">
    <div class="row form-group">
        <div class="" id="HdrSec1">
            <div class="row" id="HdrSec1_CmbPrj">
                <div class="col-md-12 col-sm-6 col-lg-12-offset-4">
                    <label id="HdrSec1_CmbPrj_lb1" font size="6" style="margin-top:20px;margin-left:10px;margin-right:20px">Project ID</label>
                    <input id="HdrSec1_CmbPrjId" style="width: 20%;" />
                    <label id="HdrSec1_CmbPrj_Nmlb1" font size="6" style="margin-left:10px;margin-right:20px">Project Name</label>
                    <input id="HdrSec1_CmbPrjNm" style="width: 20%;" />
                </div>
            </div>
            <div class="row" id="HdrSec1_CmbAdr">
                <div class="col-md-12 col-sm-6 col-lg-12-offset-4">
                    <label id="HdrSec1_CmbAdr_lb1" font size="6" style="margin-right:16px;margin-top:20px;margin-left:10px">Address ID </label>
                    <input id="HdrSec1_CmbAdrId" style="width: 20%;" />
                    <label id="HdrSec1_CmbAdr_Nmlb1" font size="6" style="margin-left:10px;margin-right:16px">Address Name</label>
                    <input id="HdrSec1_CmbAdrNm" style="width: 20%;" />
                </div>
            </div>
        </div>
        </div>>
    </div>

        <div style="height:2px; background-color:blue;"></div>

        <div class="row no-margin"style="margin-bottom:20px">
            <div class="col-lg-12">
                <div id="PrjGrid" />
            </div>
        </div>
        <script>
            var urlPrjAdr = {
                PrjAdr_InsertWeb: '@Url.Content("~/PrjAdress/PrjAdr_InsertWeb")',
            }
        </script>
        <script>

            var viewBag = {
                ObjKy: '@(ViewBag.ObjKy)',
                OurCd: '@(ViewBag.OurCd)',
                OurCd2: '@(ViewBag.OurCd2)',
                ObjCaptn: '@(ViewBag.ObjCaptn)'
            }

            var PrjAdr_SelectWeb = '@Url.Content("~/PrjAdress/PrjAdr_SelectWeb")';
            var PrjAdr_UpdateWeb = '@Url.Content("~/PrjAdress/PrjAdr_UpdateWeb")';

            var urlComboLoad = {

                AdrID_SelectMob: '@Url.Content("~/ComboLoad/AdrID_SelectMob")',
                AdrNm_SelectMob: '@Url.Content("~/ComboLoad/AdrNm_SelectMob")',
                PrjID_SelectMob: '@Url.Content("~/ComboLoad/PrjID_SelectMob")',
                PrjNm_SelectMob: '@Url.Content("~/ComboLoad/PrjNm_SelectMob")',
                Code_SelectMob: '@Url.Content("~/ComboLoad/Code_SelectMob")',
                CdNm_SelectMob: '@Url.Content("~/ComboLoad/CdNm_SelectMob")',

            }

            var urlObjMas = {
                UsrObjPrp_UpdateWeb: '@Url.Content("~/ObjMas/UsrObjPrp_UpdateWeb")',
                UsrObjPrp_SelectWeb: '@Url.Content("~/ObjMas/UsrObjPrp_SelectWeb")',
                UsrObjSec_SelectWeb: '@Url.Content("~/ObjMas/UsrObjSec_SelectWeb")'
            }


        </script>

        <script>
            var urlUsrObjPrp_SelectDeepSearchWeb = '@Url.Content("~/ObjMas/UsrObjPrp_SelectDeepSearchWeb")';
            var urlUsrObjPrp_SelectAllLastChildWeb = '@Url.Content("~/ObjMas/UsrObjPrp_SelectAllLastChildWeb")';
        </script>


        <script src="~/Scripts/HtnScripts/HtnShared/CopyPaste.js"></script>
        <script src="~/Scripts/HtnScripts/HtnShared/CommonObjMasPropSet.js"></script>
        <script src="~/Scripts/HtnScripts/HtnShared/ComboDataSrc.js"></script>
        <script src="~/Scripts/HtnScripts/HtnShared/CommonFunction.js"></script>
        <script src="~/Scripts/HtnScripts/ProjectEntry/PrjAdrRelation.js"></script>
