@{
    ViewBag.Title = ViewBag.OurCd;
    Layout = "~/Views/Shared/_LayOutWithOldKendoScript.cshtml";
}
<link rel="stylesheet" href="~/buttncss/style/cssNew.css" type="text/css" />

<div>
    <div class="k-content clearfix" id="filterCont">

        <div class="col-md-12 col-sm-12 col-xs-12 control-icons w-lg-94pct ButtonSet" id="BOQ_ButtonSet">          
            
            @*<div id="ButtonSec1" class="col-lg-4 col-md-4 col-sm-12">*@
                <button class="control-button save" onclick="ComSaveFunction()" data-tooltip="Save"> </button>
                <button class="control-button new-form" onclick="ComClearFunction()" data-tooltip="New"> </button>
                <button class="control-button save_and_new" onclick="SaveNewFunction()" data-tooltip="Save&New"> </button>
                <button class="control-button cancel" onclick="ComClearFunction()" data-tooltip="Cancel"> </button>
                <button class="control-button print" onclick="PrintSource()" data-tooltip="Resource Requirement Report Print"> </button>
                <button class="control-button print" onclick="PrintSourceWithReportNo('2')" data-tooltip="BOQ Report Print"> </button>
                <button class="control-button add" onclick="AddRowMiddle()" data-tooltip="Add Record"> </button>                
            @*</div>*@
            <button class="k-button" id="btnItemFromPurReq" onclick="ItemFromPurReq();"
                    title="New From Purches Req" style="display:none; width: 250px; height: 30px">
                New From Purchase Requsition
            </button>
            <button class="k-button" id="btnItemFromPurOrd" onclick="ItemFromPurOrd();"
                    title="New From Purches Ord" style="display:none; width: 250px; height: 30px">
                New From Purches Order
            </button>
            <button class="k-button" id="btnItemFromSlsOrd" onclick="ItemFromSlsOrd();"
                    title="New From Sales Ord" style="display:none; width: 250px; height: 30px">
                New From Sales Order
            </button>
            <button class="k-button" id="btnOrdDetToPrcsDet" onclick="OrdDetToPrcsDet();"
                    title="Link to PM" style="width: 100px; height: 30px">
                Link to PM
            </button>
            <div class="col-md-3 col-sm-3 pull-right">
                <input class="cmbNxtStatesActions pull-right" id="cmbNxtStatesActions" style="height: 30px; margin-top:10px; width: 100px;" />
                <button class="k-button pull-right" id="btnNxtStatesAction" onclick="NxtStatesAction('OrdHdr');" title="Next State Action" style="height: 25px; padding:6px 10px; margin-top:10px; margin-left:10px; background-color:#2588b7; color:#f4f6f7; ">NxtAprStrs</button>
            </div>
        </div>

        <!-- HdrPart  -->
        <div id="HdrPart" class="m-t-lg-40 m-t-md-68 m-t-sm-80">
            <div class="col-lg-12 col-md-12 p-l-0-lg p-r-0-lg wr_formGroup">
                <div class="row no-margin">
                    <div class="col-md-12 col-sm-12  col-xs-12 p-l-0-lg p-r-0-lg">
                        <div class="row no-margin">
                            <div class="col-md-7">
                                <div class="row">
                                    <!--section1-->
                                    <div class="col-md-4 col-sm-12  col-xs-12" id="HdrSec1">
                                        <!-- Order No -->
                                        <div class="row form-group" id="HdrSec1_InptOrdNo">
                                            <div class="col-md-5 col-sm-6 col-xs-12">
                                                <label id="HdrSec1_InptOrdNo_Lbl">Order No:</label>
                                            </div>
                                            <div class="col-md-7 col-sm-6 col-xs-12 p-l-0-lg">
                                                <input style="display:none;" id="PrefixOrdNo1" readonly="readonly" type="text" class="k-textbox" />
                                                <input id="OrdNo1" readonly="readonly" type="text" class="k-textbox" />
                                                <input style="display:none;" id="OrdKy1" readonly="readonly" type="text" class="k-textbox" />
                                                <input style="display:none;" id="OrdTypKy1" readonly="readonly" type="text" class="k-textbox" />
                                                <input style="display:none;" id="OrdPrefixKy1" readonly="readonly" type="text" class="k-textbox" />
                                                <input style="display:none;" id="AccTrnKy" readonly="readonly" type="text" class="k-textbox" />
                                            </div>
                                        </div>
                                        <!-- /Order No -->
                                        <!-- Date -->
                                        <div class="row form-group" id="HdrSec1_DatPicDate">
                                            <div class="col-md-5 col-sm-6 col-xs-12">
                                                <label id="HdrSec1_DatPicDate_Lbl">Date:</label>
                                            </div>
                                            <div class="col-md-7 col-sm-6 col-xs-12 p-l-0-lg">
                                                <input id="HdrSec1_DatPicDate_Val" class="p-t-0 p-b-0" data-role="datepicker" data-bind="value: Date" />
                                            </div>
                                        </div>
                                        <!-- /Date  -->
                                        <!-- Deli Date -->
                                        <div class="row form-group" id="HdrSec1_DatPicProdDeliveryDate">
                                            <div class="col-md-5 col-sm-6 col-xs-12">
                                                <label id="HdrSec1_DatPicProdDeliveryDate_Lbl">Deli Date:</label>
                                            </div>
                                            <div class="col-md-7 col-sm-6 col-xs-12 p-l-0-lg">
                                                <input id="HdrSec1_DatPicProdDeliveryDate_Val" class="" data-role="datepicker" data-bind="value: Date" />
                                            </div>
                                        </div>
                                        <!-- /Deli Date  -->
                                        <!-- Doc No -->
                                        <div class="row form-group" id="HdrSec1_InptDocNo">
                                            <div class="col-md-5 col-sm-6 col-xs-12">
                                                <label id="HdrSec1_InptDocNo_Lbl">Doc No:</label>
                                            </div>
                                            <div class="col-md-7 col-sm-6 col-xs-12 p-l-0-lg">
                                                <input placeholder="Doc No ..." id="HdrSec1_InptDocNo_Val" type="text" class="k-textbox" />
                                            </div>
                                        </div>
                                        <!-- /Doc No  -->
                                        <!-- Your Ref -->
                                        <div class="row form-group" id="HdrSec1_InptYurRef">
                                            <div class="col-md-5 col-sm-6 col-xs-12">
                                                <label id="HdrSec1_InptYurRef_Lbl">Your Ref</label>
                                            </div>
                                            <div class="col-md-7 col-sm-6 col-xs-12 p-l-0-lg">
                                                <input data-cpypst-blsmartcpypaste="Yurref" id="HdrSec1_InptYurRef_Val" type="text" class="k-textbox" />
                                            </div>

                                        </div>
                                        <!-- /Your Ref  -->
                                        <!-- Day -->
                                        <div class="row form-group" id="HdrSec1_CmbDay">
                                            <div class="col-md-5 col-sm-6 col-xs-12">
                                                <label id="HdrSec1_CmbDay_Lbl">Day :</label>
                                            </div>
                                            <div class="col-md-7 col-sm-6 col-xs-12 p-l-0-lg">
                                                <div id="HdrSec1_CmbDay_Cd" class="width-100"></div>
                                            </div>
                                        </div>
                                        <!-- /Day -->
                                        <!-- Dlv No -->
                                        <div class="row form-group" id="HdrSec1_CmbDeliNo">
                                            <div class="col-md-5 col-sm-6 col-xs-12">
                                                <label id="HdrSec1_CmbDeliNo_Lbl">Dlv No:</label>
                                            </div>
                                            <div class="col-md-7 col-sm-6 col-xs-12 p-l-0-lg">
                                                <div id="HdrSec1_CmbDeliNo_Cd" class="width-100"></div>
                                            </div>
                                        </div>
                                        <!-- /Dlv No  -->
                                        <!-- POrdNo -->
                                        <div class="row form-group" id="HdrSec1_CmbPOrdNo">
                                            <div class="col-md-5 col-sm-6 col-xs-12">
                                                <label id="HdrSec1_CmbPOrdNo_Lbl">POrdNo:</label>
                                            </div>
                                            <div class="col-md-7 col-sm-6 col-xs-12 p-l-0-lg">
                                                <div id="HdrSec1_CmbPOrdNo_Cd" class="width-100"></div>
                                            </div>
                                        </div>
                                        <!-- /POrdNo  -->
                                    </div>
                                    <!--/section1-->
                                    <!--section2-->
                                    <div class="col-md-8 col-sm-12  col-xs-12" id="HdrSec2">
                                        <!-- Project -->
                                        <div class="row form-group" id="HdrSec2_CmbPrj">
                                            <div class="col-md-2 col-sm-12 col-xs-12 p-l-0-lg p-r-0-lg"> <label id="HdrSec2_CmbPrj_Lbl">Project</label> </div>
                                            <div class="col-md-10 col-sm-12 col-xs-12 p-l-0-lg"><div id="HdrSec2_CmbPrj_Cd" class="width-100"></div></div>
                                            @*<div class="col-md-7 col-sm-7 col-xs-12 p-l-2-lg p-r-0-lg"><div id="HdrSec2_CmbPrj_Nm" class="width-100"></div></div>*@
                                        </div>
                                        <!-- /Project -->                                      
                                        <!-- Account -->
                                        <div class="row form-group" id="HdrSec2_CmbSupAcc">
                                            <div class="col-md-2 col-sm-12 col-xs-12 p-l-0-lg p-r-0-lg"> <label id="HdrSec2_CmbSupAcc_Lbl">Account</label> </div>
                                            <div class="col-md-10 col-sm-12 col-xs-12 p-l-0-lg"><div id="HdrSec2_CmbSupAcc_Cd" class="width-100"></div></div>
                                            @*<div class="col-md-7 col-sm-7 col-xs-12 p-l-2-lg p-r-0-lg"><div id="HdrSec2_CmbSupAcc_Nm" class="width-100"></div></div>*@
                                        </div>
                                        <!-- /Account -->
                                        <!-- Address -->
                                        <div class="row form-group" id="HdrSec2_CmbAdr">
                                            <div class="col-md-2 col-sm-12 col-xs-12 p-l-0-lg p-r-0-lg"><label id="HdrSec2_CmbAdr_Lbl">Address</label> </div>
                                            <div class="col-md-10 col-sm-12 col-xs-12 p-l-0-lg"><div id="HdrSec2_CmbAdr_Cd" class="width-100"></div></div>
                                            @*<div class="col-md-7 col-sm-7 col-xs-12 p-l-2-lg p-r-0-lg"><div id="HdrSec2_CmbAdr_Nm" class="width-100"></div></div>*@
                                        </div>
                                        <!-- /Address -->
                                        <!-- Rep Address -->
                                        <div class="row form-group" id="HdrSec2_CmbRepAdr">
                                            <div class="col-md-2 col-sm-12 col-xs-12 p-l-0-lg p-r-0-lg"> <label id="HdrSec2_CmbRepAdr_Lbl">Rep Address</label> </div>
                                            <div class="col-md-10 col-sm-12 col-xs-12 p-l-0-lg"> <div id="HdrSec2_CmbRepAdr_Cd" class="width-100"></div> </div>
                                            @*<div class="col-md-7 col-sm-7 col-xs-12 p-l-2-lg p-r-0-lg"><div id="HdrSec2_CmbRepAdr_Nm" class="width-100"></div></div>*@
                                        </div>
                                        <!-- /Rep Address -->
                                        <!-- Deliver To -->
                                        <div class="row form-group" id="HdrSec2_CmbDeliNoTo">
                                            <div class="col-md-2 col-sm-12 col-xs-12 p-l-0-lg p-r-0-lg"> <label id="HdrSec2_CmbDeliNoTo_Lbl">Deliver To</label> </div>
                                            <div class="col-md-10 col-sm-12 col-xs-12 p-l-0-lg"> <div id="HdrSec2_CmbDeliNoTo_Cd" class="width-100"></div> </div>
                                            @*<div class="col-md-7 col-sm-7 col-xs-12 p-l-2-lg p-r-0-lg"><div id="HdrSec2_CmbDeliNoTo_Nm" class="width-100"></div></div>*@
                                        </div>
                                        <!-- /Deliver To -->
                                        <!--  Description -->
                                        <div class="row form-group" id="HdrSec7_InptDesc">
                                            <div class="col-md-2 col-sm-12 col-xs-12 p-l-0-lg p-r-0-lg">
                                                <label id="HdrSec7_InptDesc_Lbl" class="">Description</label>
                                            </div>
                                            <div class="col-md-10 col-sm-12 col-xs-12 p-l-0-lg">
                                                <textarea id="HdrSec7_InptDesc_Val" class="k-textbox width-100" data-bind="value: textareaValue" style="height: 30px;"></textarea>
                                            </div>
                                        </div>  
                                        <!--  /Description -->
                                        <!--  Remarks -->
                                        <div class="row form-group" id="HdrSec7_InptRemark">
                                            <div class="col-md-2 col-sm-12 col-xs-12 p-l-0-lg p-r-0-lg">
                                                <label id="HdrSec7_InptRemark_Lbl" class="">Remarks</label>
                                            </div>
                                            <div class="col-md-10 col-sm-12 col-xs-12 p-l-0-lg">
                                                <textarea id="HdrSec7_InptRemark_Val" class="k-textbox width-100" data-bind="value: textareaValue" style="height: 30px;"></textarea>
                                            </div>
                                        </div>  
                                        <!--  /Remarks -->
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-5 col-sm-12 col-xs-12">
                                <div class="row wr_formGroup_drk m-t-lg--11 m-b-5" id="HdrSec4">
                                    <!-- Sub Total -->
                                    <div class="col-md-6 col-sm-12 col-xs-12" id="HdrSec4_NmricSubTotal">
                                        <div class="row form-group">
                                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 p-r-0-lg"><label id="HdrSec4_NmricSubTotal_Lbl">Sub Total:</label> </div>
                                            <div class="col-lg-8 col-md-8 col-sm-6 col-xs-6"><input id="HdrSec4_NmricSubTotal_Val" readonly="readonly" type="text" onkeypress="return isNumberOnlyTextField(event)" class="k-input" /></div>
                                        </div>
                                    </div>
                                    <!-- /Sub Total -->
                                    <!-- Total -->
                                    <div class="col-md-6 col-sm-12 col-xs-12" id="HdrSec4_InptSumTotalAmt">
                                        <div class="row form-group">
                                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6"><label id="HdrSec4_InptSumTotalAmt_Lbl">Total:</label> </div>
                                            <div class="col-lg-8 col-md-8 col-sm-6 col-xs-6">
                                                <input id="HdrSec4_InptSumTotalAmt_Val" readonly="readonly" type="text" onkeypress="return isNumberOnlyTextField(event)" class="k-input" />
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /Total -->
                                    <!-- Discount -->
                                    <div class="col-md-6 col-sm-12 col-xs-12" id="HdrSec4_InptDisAmt">
                                        <div class="row form-group">
                                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6"><label id="HdrSec4_InptDisAmt_Lbl">Discount:</label></div>
                                            <div class="col-lg-8 col-md-8 col-sm-6 col-xs-6"><input id="HdrSec4_InptDisAmt_Val" onkeypress="return isNumberOnlyTextField(event)" class="k-input" readonly="readonly" type="text" /></div>
                                        </div>
                                    </div>
                                    <!-- /Discount -->
                                    <!-- NBT -->
                                    <div class="col-md-6 col-sm-12 col-xs-12" id="HdrSec4_InptNbtAmt">
                                        <div class="row form-group">
                                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6"> <label id="HdrSec4_InptNbtAmt_Lbl">NBT:</label> </div>
                                            <div class="col-lg-8 col-md-8 col-sm-6 col-xs-6">
                                                <input id="HdrSec4_InptNbtAmt_Val" onkeypress="return isNumberOnlyTextField(event)" class="k-input" readonly="readonly" type="text" />
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /NBT -->
                                    <!-- VAT -->
                                    <div class="col-md-6 col-sm-12 col-xs-12" id="HdrSec4_InptVatAmt">
                                        <div class="row form-group">
                                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6"> <label id="HdrSec4_InptVatAmt_Lbl">VAT:</label> </div>
                                            <div class="col-lg-8 col-md-8 col-sm-6 col-xs-6"> <input id="HdrSec4_InptVatAmt_Val" onkeypress="return isNumberOnlyTextField(event)" class="k-input" readonly="readonly" type="text" /></div>
                                        </div>
                                    </div>
                                    <!-- /VAT -->
                                    <!-- SVAT -->
                                    <div class="col-md-6 col-sm-12 col-xs-12" id="HdrSec4_InptSVatAmt">
                                        <div class="row form-group">
                                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6"> <label id="HdrSec4_InptSVatAmt_Lbl">SVAT:</label> </div>
                                            <div class="col-lg-8 col-md-8 col-sm-6 col-xs-6">
                                                <input id="HdrSec4_InptSVatAmt_Val" onkeypress="return isNumberOnlyTextField(event)" class="k-input" readonly="readonly" type="text" />
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /SVAT -->
                                    <!-- WHT -->
                                    <div class="col-md-6 col-sm-12 col-xs-12" id="HdrSec4_InptWhtAmt">
                                        <div class="row form-group">
                                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6"><label id="HdrSec4_InptWhtAmt_Lbl">WHT:</label> </div>
                                            <div class="col-lg-8 col-md-8 col-sm-6 col-xs-6">
                                                <input id="HdrSec4_InptWhtAmt_Val" onkeypress="return isNumberOnlyTextField(event)" class="k-input" readonly="readonly" type="text" />
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /WHT -->
                                </div>
                                <div class="row" id="HdrSec3">
                                    <!-- Location -->
                                    <div class="col-md-6 col-sm-12 col-xs-12" id="HdrSec2_CmbLoc">
                                        <div class="row form-group">
                                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6"> <label id="HdrSec2_CmbLoc_Lbl">Location</label> </div>
                                            <div class="col-lg-8 col-md-8 col-sm-6 col-xs-6"><div id="HdrSec2_CmbLoc_Cd" class="width-100"></div></div>
                                            @*<div class="col-md-7 col-sm-7 col-xs-12 p-l-2-lg p-r-0-lg"><div id="HdrSec2_CmbLoc_Nm" class="width-100"></div></div>*@
                                        </div>
                                    </div>
                                    <!-- /Location -->
                                    <!-- PRNo/SRNo -->
                                    <div class="col-md-6 col-sm-12 col-xs-12"  id="HdrSec3_InptPRNo">
                                        <div class="row form-group">
                                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6"> <label id="HdrSec3_InptPRNo_Lbl">PRNo/SRNo:</label> </div>
                                            <div class="col-lg-8 col-md-8 col-sm-6 col-xs-6">
                                                <input id="OrdNo" readonly="readonly" type="text" class="k-textbox" />
                                                <input id="OrdKy" readonly="readonly" type="text" class="k-textbox" />
                                                <input id="OrdTypKy" readonly="readonly" type="text" class="k-textbox" />
                                                <input id="OrdDetKy" readonly="readonly" type="text" class="k-textbox" />
                                                <input id="OrdPrefixKy" readonly="readonly" type="text" class="k-textbox" />
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /PRNo/SRNo -->
                                    <!-- Pmt Terms -->
                                    <div class="col-md-6 col-sm-12 col-xs-12"  id="HdrSec3_CmbPmtTrms">
                                        <div class="row form-group">
                                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6"> <label id="HdrSec3_CmbPmtTrms_Lbl">Pmt Terms:</label></div>
                                            <div class="col-lg-8 col-md-8 col-sm-6 col-xs-6"><div id="HdrSec3_CmbPmtTrms_Cd" class="width-100"></div></div>
                                        </div>
                                    </div>
                                    <!-- /Pmt Terms -->
                                    <!-- Currency -->
                                    <div class="col-md-6 col-sm-12 col-xs-12"  id="HdrSec3_CmbCurrncy">
                                        <div class="row form-group">
                                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6"><label id="HdrSec3_CmbCurrncy_Lbl">Currency:</label></div>
                                            <div class="col-lg-8 col-md-8 col-sm-6 col-xs-6"><div id="HdrSec3_CmbCurrncy_Cd" class="width-100"></div></div>
                                        </div>
                                    </div>
                                    <!-- /Currency -->
                                    <!-- Ex Rate -->
                                    <div class="col-md-6 col-sm-12 col-xs-12"  id="HdrSec3_NmricExRate">
                                        <div class="row form-group">
                                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6"><label id="HdrSec3_NmricExRate_Lbl">Ex Rate:</label></div>
                                            <div class="col-lg-8 col-md-8 col-sm-6 col-xs-6"><input value="1.00" id="HdrSec3_NmricExRate_Val" class="k-numerictextbox width-100" readonly="readonly" data-format="n4" data-decimals="4" /></div>
                                        </div>
                                    </div>
                                    <!-- /Ex Rate -->
                                    <!-- Production Time -->
                                    <div class="col-md-6 col-sm-12 col-xs-12"  id="HdrSec3_CmbProdTime">
                                        <div class="row form-group" style="display:none">
                                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6"><label id="HdrSec3_CmbProdTime_Lbl">Production Time</label></div>
                                            <div class="col-lg-8 col-md-8 col-sm-6 col-xs-6"><div id="HdrSec3_CmbProdTime_Cd" class="width-100"></div></div>
                                        </div>
                                    </div>
                                    <!-- /Production Time -->
                                    <!-- Dispat Time -->
                                    <div class="col-md-6 col-sm-12 col-xs-12"  id="HdrSec3_CmbProdDisptTime">
                                        <div class="row form-group" style="display:none">
                                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6"><label id="HdrSec3_CmbProdDisptTime_Lbl">Dispat Time</label></div>
                                            <div class="col-lg-8 col-md-8 col-sm-6 col-xs-6"><div id="HdrSec3_CmbProdDisptTime_Cd" class="width-100"></div></div>
                                        </div>
                                    </div>
                                    <!-- /Dispat Time -->
                                    <!-- Customer Time -->
                                    <div class="col-md-6 col-sm-12 col-xs-12"  id="HdrSec3_CmbCustTime">
                                        <div class="row form-group" style="display:none">
                                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6"> <label id="HdrSec3_CmbCustTime_Lbl">Customer Time</label></div>
                                            <div class="col-lg-8 col-md-8 col-sm-6 col-xs-6"><div id="HdrSec3_CmbCustTime_Cd" class="width-100"></div></div>
                                        </div>
                                    </div>
                                    <!-- /Customer Time -->
                                </div>
                            </div>

                        </div>
                    </div>           
                </div>
            </div><!-- /wr_formGroup  -->
        </div> <!-- /HdrPart  -->

        
    </div>
    <div class="row no-margin p-l-15 p-r-15">
        <div class="" id="BOQ_Main_TabStrip">
            <ul>
                <li id="BOQ_Main_TabStrip_HdrSec2_Tab1">Details</li>
                <li id="BOQ_Main_TabStrip_HdrSec2_Tab2">Resource</li>
            </ul>
            <div>
                @Html.Partial("~/Views/BOQ/BOQDetails.cshtml")
            </div>
            <div id="MainDiv_OrdDetCmpnPartialForParentDiv">
                @Html.Partial("~/Views/OrdDetCmpn/OrdDetCmpnInBuild.cshtml")
            </div>
        </div>
    </div>
    @*<div id="BOQ_Main_TabStrip">
        <ul>
            <li id="BOQ_Main_TabStrip_HdrSec2_Tab1">Details</li>
            <li id="BOQ_Main_TabStrip_HdrSec2_Tab2">Ingredients</li>
        </ul>

        <div>
            <div>
                @Html.Partial("~/Views/BOQ/BOQDetails.cshtml")
            </div>
        </div>
        <div>
            <div style="width:100%" id="MainDiv_OrdDetCmpnPartialForParentDiv">
                @Html.Partial("~/Views/OrdDetCmpn/OrdDetCmpnInBuild.cshtml")
            </div>
        </div>
    </div>*@
</div>
<div>
    @Html.Partial("~/Views/BOQ/FindBOQ.cshtml")
</div>

<div>
    @Html.Partial("~/Views/BOQ/FindFromPurReq.cshtml")
</div>

<div>
    @Html.Partial("~/Views/ItmMas/ItmMas_ItmNm_SS_Web.cshtml")
</div>

<div>
    @Html.Partial("~/Views/GanttChart/CreateSchedule.cshtml")
</div>

@*<script id="command-template" type="text/x-kendo-template">
    <a class="k-button k-grid-evenselect">X</a>
</script>*@

<script src="~/Scripts/HtnScripts/HtnShared/CopyPaste.js"></script>

<script type="text/javascript">

    var urlObjMas = {
        UsrObjPrp_UpdateWeb: '@Url.Content("~/ObjMas/UsrObjPrp_UpdateWeb")',
        UsrObjPrp_SelectWeb: '@Url.Content("~/ObjMas/UsrObjPrp_SelectWeb")',
        UsrObjSec_SelectWeb: '@Url.Content("~/ObjMas/UsrObjSec_SelectWeb")'
    }

    // Spcl Order Url's
    var urlSplOrder = {
        InsertHdr: '@Url.Content("~/SplOrder/InsertHdr")',
        InsertDetail: '@Url.Content("~/SplOrder/InsertDetail")',
        InsertSplOrderHdr: '@Url.Content("~/SplOrder/InsertSplOrderHdr")',
        UpdateSplOrderHdr: '@Url.Content("~/SplOrder/UpdateSplOrderHdr")',
        InsertAccountsInvoice: '@Url.Content("~/SplOrder/InsertAccountsInvoice")',
        UpdateAccountsInvoice: '@Url.Content("~/SplOrder/UpdateAccountsInvoice")',
        InsertDetailSplOrder: '@Url.Content("~/SplOrder/InsertDetailSplOrder")',
        ChkInsertedRow: '@Url.Content("~/SplOrder/ChkInsertedRow")',
        PrinttoPrinters: '@Url.Content("~/SplOrder/PrinttoPrinters")',
        UpdatePrintedTrue: '@Url.Content("~/SplOrder/UpdatePrintedTrue")'
    };

    var urlComboLoad = {
        AccCd_SelectMob: '@Url.Content("~/ComboLoadV2/AccCd_SelectMob")',
        AccNm_SelectMob: '@Url.Content("~/ComboLoad/AccNm_SelectMob")',
        AdrID_SelectMob: '@Url.Content("~/ComboLoadV2/AdrID_SelectMob")',
        AdrNm_SelectMob: '@Url.Content("~/ComboLoad/AdrNm_SelectMob")',
        Code_SelectMob: '@Url.Content("~/ComboLoadV2/Code_SelectMob")',
        CdNm_SelectMob: '@Url.Content("~/ComboLoad/CdNm_SelectMob")',
        ItmCd_SelectMob: '@Url.Content("~/ComboLoadV2/ItmCd_SelectMob")',
        ItmNm_SelectMob: '@Url.Content("~/ComboLoad/ItmNm_SelectMob")',
        PrjID_SelectMob: '@Url.Content("~/ComboLoadV2/PrjID_SelectMob")',
        PrjNm_SelectMob: '@Url.Content("~/GanttChart/GetPrjNm_SelectMobByObjKy")',
        OrdNo_SelectMob: '@Url.Content("~/ComboLoad/OrdNo_SelectMob")'

        

    }

    var urlCommon = {
        GetItmRateDisTax: '@Url.Content("~/Common/GetItmRateDisTax")',
        AprStsNm_SelectWeb: '@Url.Content("~/Common/AprStsNm_SelectWeb")',
        TrnHdrApr_LatestState: '@Url.Content("~/Common/TrnHdrApr_LatestState")',
        TrnHdrApr_NextState: '@Url.Content("~/Common/TrnHdrApr_NextState")',
        TrnHdrApr_InsertWeb: '@Url.Content("~/Common/TrnHdrApr_InsertWeb")',
        IsAlwTrnUpdateApr_SelectWeb: '@Url.Content("~/Common/IsAlwTrnUpdateApr_SelectWeb")',
    }

    var urlCodes = {
        GetCdKyByConCdAndOurCd: '@Url.Content("~/Codes/GetCdKyByConCdAndOurCd")',
        GetCdMasBy_CdKy: '@Url.Content("~/Codes/GetCdMasBy_CdKy")',
        GetUserPermission: '@Url.Content("~/Common/TrnHdrApr_NextState")'
    }


    var urlCodesCdMas_LookupWebByConCd = '@Url.Content("~/Codes/CdMas_LookupWebByConCd")';

    var OurCd = '@(ViewBag.OurCd)';
    var urlGetHomeCurency = '@Url.Content("~/Journal/GetHomeCurency")';
    var urlGetDefaultPmtTrm = '@Url.Content("~/Order/GetPmtListForOrder")';
    var urlGetOrdDay = '@Url.Content("~/Order/GetOrdDayforPnS")';
    var urlGetDeliNo = '@Url.Content("~/Order/GetDlvNoforPnS")';
    var urlGetPrj = '@Url.Content("~/Order/GetPrjListForOrder")';
    var urlGetLoc = '@Url.Content("~/Order/GetLocListForOrder")';
    var urlGetAcc = '@Url.Content("~/Order/GetAccountListForOrder")';
    var urlGetAdrByAcc = '@Url.Content("~/Order/GetAdrByAccForOrder")';
    var urlGetAdrKyByAccKy = '@Url.Content("~/Order/GetAdrKyForOrder")';
    var urlGetAccKyByAdrKy = '@Url.Content("~/Order/GetAccKyForOrder")';
    var urlInsertHdrPurchaseReq = '@Url.Content("~/Order/InsertHdrPurchaseReq")';
    var urlUpdateHdrPurchaseReq = '@Url.Content("~/Order/UpdateHdrPurchaseReq")';

    var urlInsertPurchesReqDetail = '@Url.Content("~/Order/InsertPurchesReqDetail")';
    var urlUpdateDragnDropDetails = '@Url.Content("~/Order/UpdateDragnDropDetails")';




    var urlGetPurchesReq = '@Url.Content("~/Order/GetPurchesReq")';
    var urlGetPRDetailForFind = '@Url.Content("~/Order/GetPRDetailForFind")';
    var urlPrintOrder = '@Url.Content("~/Order/PrintOrder")';
    var urlPurchaseOrderPreview = '@Url.Content("~/Order/PurchaseOrderPreview")';
    var urlPurchaseRequisitionPreview = '@Url.Content("~/Order/PurchaseRequisitionPreview")';
    var urlPnsItemsLookUpByItmCd = '@Url.Content("~/Order/PnsItemsLookUpByItmCd")';

    var urlGetMultiUnitsForOrder = '@Url.Content("~/Order/GetMultiUnitsForOrder")';

    var urlItmCdForOrder = '@Url.Content("~/Order/ItmCdForOrder")';
    var urlItmNmForOrder = '@Url.Content("~/Order/ItmNmForOrder")';

    var urlGetAdrForOrder = '@Url.Content("~/Order/GetAdrForOrder")';
    var urlGetAnlTypForOrder = '@Url.Content("~/Order/GetAnlTypForOrder")';
    var urlGetTaskListForOrder = '@Url.Content("~/Order/GetTaskListForOrder")';
    var urlGetCurrencyListForOrder = '@Url.Content("~/Order/GetCurrencyListForOrder")';

    var urlItemForOrder = '@Url.Content("~/Order/ItemForOrder")';


    var urlObjMasUsrObjSec_SelectWeb = '@Url.Content("~/ObjMas/UsrObjSec_SelectWeb")';
    var urlUpdateToDoHome = '@Url.Action("UpdateToDo","Home")';
    var urlUpdateToDov = '@Url.Action("UpdateToDo","Home")';
    var urlInsertToDoHome = '@Url.Action("InsertToDo","Home")';
    var urlTransactionGetRateForItem = '@Url.Content("~/Transaction/GetRateForItem")';
    var urlTransactionAccCheckLockByTrnKy = '@Url.Content("~/TransactionAcc/CheckLockByTrnKy")';

    var urlGetAvilableQty = '@Url.Content("~/Transaction/GetAvailableQty")';

    var viewBag = {
        ObjKy: '@(ViewBag.ObjKy)',
        OurCd: '@(ViewBag.OurCd)',
        OurCd2: '@(ViewBag.OurCd2)',
        ObjCaptn: '@(ViewBag.ObjCaptn)'
    }

    var viewBagObjCaptn = viewBag.ObjCaptn;

    function PrintSourceWithReportNo(ReptNo) {
        var formOrdKy = $("#OrdKy1").val();
       // var formOrdKy = FormGlblData.TrnKy;
        var formObjCaption = viewBagObjCaptn;
        var formObjKy = viewBagObjKy;

        // Calling from "<script src="~/Scripts/HtnScripts/Report/SourceDocumentPrint.js>"
        PrintCommonWithReportNo(formOrdKy, formObjCaption, formObjKy, ReptNo);
    }
</script>

@*Set Default and Object Properties From ObjMas*@
<script>
    var urlUsrObjPrp_SelectDeepSearchWeb = '@Url.Content("~/ObjMas/UsrObjPrp_SelectDeepSearchWeb")';
    var urlUsrObjPrp_SelectAllLastChildWeb = '@Url.Content("~/ObjMas/GetAllRecodesFormObjMas")';
</script>


<script src="~/Scripts/HtnScripts/ObjMasV2/ObjMasCommonFunctions.js"></script>
<script src="~/Scripts/HtnScripts/Report/SourceDocumentPrint.js"></script>
<script src="~/Scripts/HtnScripts/BOQ/BOQCombo.js"></script>
<script src="~/Scripts/HtnScripts/BOQ/BOQ.js"></script>
<script src="~/Scripts/HtnScripts/BOQ/BOQCal.js"></script>
<script src="~/Scripts/HtnScripts/BOQ/BOQDetailChange.js"></script>
<script src="~/Scripts/HtnScripts/BOQ/BOQDefault.js"></script>
<script src="~/Scripts/HtnScripts/BOQ/BOQKeyFuncs.js"></script>
<script src="~/Scripts/HtnScripts/BOQ/BOQPrint.js"></script>
<script src="~/Scripts/HtnScripts/BOQ/GetItmRateDisTax.js"></script>
<script src="~/Scripts/HtnScripts/BOQ/TabControler.js"></script>
<script src="~/Scripts/HtnScripts/BOQ/BOQCmpnBuild.js"></script>

<script src="~/Scripts/HtnScripts/BOQ/LoadGrid.js"></script>
<script src="~/Scripts/HtnScripts/BOQ/SaveFunction.js"></script>
<script src="~/Scripts/HtnScripts/BOQ/Validation.js"></script>

<script src="~/Scripts/HtnScripts/BOQ/SpclOrd/PrintToPrint.js"></script>
<script src="~/Scripts/HtnScripts/BOQ/SpclOrd/SpclOrd_Combo.js"></script>
<script>
    var urlUsrObjPrp_SelectDeepSearchWeb = '@Url.Content("~/ObjMas/UsrObjPrp_SelectDeepSearchWeb")';

    var urlValidation = {
        AccCrLimit_Validate: '@Url.Content("~/Validation/AccCrLimit_Validate")'
    }
</script>
<script src="~/Scripts/HtnScripts/HtnShared/CommonObjMasPropSet.js"></script>
<script src="~/Scripts/HtnScripts/HtnShared/CommonFunction.js"></script>
<script src="~/Scripts/HtnScripts/HtnShared/ComboDataSrc.js"></script>
<script src="~/Scripts/HtnScripts/HtnShared/ValidationFunction.js"></script>
<script src="~/Scripts/HtnScripts/HtnShared/AprStatesHandling.js"></script>
<script src="~/Scripts/HtnScripts/Transaction/SetReadOnlyAttr.js"></script>

<style>
    .k-numerictextbox {
        width: 100%;
    }
     .form-control, /* if this class is applied to a Kendo UI widget, its layout may change */
    .container,
    .container-fluid,
    .row,
    .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1,
    .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2,
    .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3,
    .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4,
    .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5,
    .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6,
    .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7,
    .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8,
    .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9,
    .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
    .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11,
    .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
     #GridWin .form-group {
            float: initial;
            margin-left: -15px;
            margin-right: -15px;
        }  
</style>

@*<style>
    .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
        /*padding-right: 5px;*/
        padding-left: 5px;
    }
</style>*@
