@{
    ViewBag.Title = "Project FollowUp";
    Layout = "~/Views/Shared/_LayOutWithLatestKendoScript.cshtml";
    <link rel="stylesheet" href="~/buttncss/style/cssNew.css" type="text/css" />
}

@*<head>
    <link rel="stylesheet" href="//kendo.cdn.telerik.com/2016.2.607/styles/kendo.common-material.min.css" />
    <link rel="stylesheet" href="//kendo.cdn.telerik.com/2016.2.607/styles/kendo.material.min.css" />
    <link rel="stylesheet" href="//kendo.cdn.telerik.com/2016.2.607/styles/kendo.default.mobile.min.css" />
</head>*@

<div>

    @*<div class="k-content" id="filterCont" style="height:40px;">*@
    <div style="height:40px;" class="k-content clearfix" id="filterCont">

        <div class="col-md-12" id="ButtonSet">
            @*<button class="control-button add" onclick="insertItem() " data-tooltip="add"> </button>*@
            @*<button class="control-button load" id="btnLoadItem" title="Load" data-tooltip="Load"> </button>*@
            <button class="control-button save" id="btnSave" onclick="Save()" title="Save" data-tooltip="Save"></button>
            <button class="control-button cancel" id="btnCancel" onclick="CancelGridItem()" title="Cancel" data-tooltip="Cancel"></button>

        </div>
    </div>

    <div id="SearchWin1" class="row p-l-15">
        <div class="col-md-4" id="HdrSec1">           
            <div class="row form-group" id="HdrSec1_CmbAdrId">
                <div class="col-md-4">
                    <label id="HdrSec1_CmbAdrId_Lbl">Address ID: </label> 
                </div>
                <div class="col-md-6">
                    <div id="HdrSec1_CmbAdrId_Cd"></div>
                </div>
            </div>

            <div class="row form-group" id="HdrSec1_CmbItmId">
                <div class="col-md-4">
                    <label id="HdrSec1_CmbItmId_Lbl">Item ID: </label>
                </div>
                <div class="col-md-6">
                    <div id="HdrSec1_CmbItmId_Cd"></div>
                </div>
            </div>    
            <div class="row form-group" id="HdrSec1_CmbPrjId">
                <div class="col-md-4">
                    <label id="HdrSec1_CmbPrjId_Lbl">Project ID: </label>
                </div>
                <div class="col-md-6">
                    <div id="HdrSec1_CmbPrj_Cd"></div>
                </div>
            </div>                       
        </div>
        <div class="col-md-4">            
            <div class="row form-group" id="HdrSec1_CmbAdrNm" >
                <div class="col-md-4">
                    <label id="HdrSec1_CmbAdrNm_Lbl">Address Name:</label>
                </div>
                <div class="col-md-6">
                    <div id="HdrSec1_CmbAdrNm_Nm"></div>
                </div>
            </div> 
            <div class="row form-group" id="HdrSec1_CmbItmNm">
                <div class="col-md-4">
                    <label id="HdrSec1_CmbItmNm_Lbl">Item Name:</label>
                </div>
                <div class="col-md-6">
                    <div id="HdrSec1_CmbItmNm_Nm"></div>
                </div>
            </div> 
            <div class="row form-group" id="HdrSec1_CmbPrjNm">
                <div class="col-md-4">
                    <label id="HdrSec1_CmbPrjNm_Lbl">Project Name:</label>
                </div>
                <div class="col-md-6">
                    <div id="HdrSec1_CmbPrj_Nm"></div>
                </div>
            </div> 
        </div>
    </div>
    <div style="height:2px; background-color:brown;"></div>

    <div id="GridWin"  class="col-md-12 p-l-15">
        <div style="margin-left:10px;margin-right:10px;margin-bottom:10px;">
            <div id="grid"></div>
        </div>
    </div>         
        </div>




@*<div>
    @Html.Partial("~/Views/ToDoProject/PartialPrjImage.cshtml")
</div>*@

<div>
    @Html.Partial("~/Views/Transaction/PopUps/ImageAttachment_View.cshtml")
</div>

<script type="text/javascript">

</script>


<script type="text/javascript">

    var URLInsertUpdatePrjFollowup = '@Url.Content("~/ToDoProject/InsertUpdatePrjFollowup")';
    var URLPrjFollowupLoadGrid = '@Url.Action("GetAllProjectFollowUp", "ToDoProject")';
    var urlInsertFileswithpath = '@Url.Content("~/ToDoProject/InsertFileswithpath")';

    var viewBag = {
        ObjKy: '@(ViewBag.ObjKy)',
        OurCd: '@(ViewBag.OurCd)',
    }

    var urlUsrObjPrp_SelectDeepSearchWeb = '@Url.Content("~/ObjMas/UsrObjPrp_SelectDeepSearchWeb")';
    var urlUsrObjPrp_SelectAllLastChildWeb = '@Url.Content("~/ObjMas/UsrObjPrp_SelectAllLastChildWeb")';


    var urlComboLoad = {
        AccCd_SelectMob: '@Url.Content("~/ComboLoad/AccCd_SelectMob")',
        AccNm_SelectMob: '@Url.Content("~/ComboLoad/AccNm_SelectMob")',
        AdrID_SelectMob: '@Url.Content("~/ComboLoad/AdrID_SelectMob")',
        AdrNm_SelectMob: '@Url.Content("~/ComboLoad/AdrNm_SelectMob")',
        Code_SelectMob:  '@Url.Content("~/ComboLoad/Code_SelectMob")',
        CdNm_SelectMob:  '@Url.Content("~/ComboLoad/CdNm_SelectMob")',
        ItmCd_SelectMob: '@Url.Content("~/ComboLoad/ItmCd_SelectMob")',
        ItmNm_SelectMob: '@Url.Content("~/ComboLoad/ItmNm_SelectMob")',
        PrjID_SelectMob: '@Url.Content("~/ComboLoad/PrjID_SelectMob")',
        PrjNm_SelectMob: '@Url.Content("~/ComboLoad/PrjNm_SelectMob")',

    }
</script>
<script src="~/Scripts/HtnScripts/HtnShared/CommonObjMasPropSet.js"></script>
<script src="~/Scripts/HtnScripts/HtnShared/ComboDataSrc.js"></script>
<script src="~/Scripts/HtnScripts/ToDoProjects/PrjFollowupScript.js"></script>
<link href="~/Src/Styles/HtnStyles/ItmDiscount/animation.css" rel="stylesheet" />
<script src="~/Scripts/HtnScripts/HtnShared/AlertMsg.js"></script>

<script id="command-template" type="text/x-kendo-template">
    <a class="k-button k-grid-evenselect">Image</a>
</script>

