@{
    ViewBag.Title = ViewBag.ObjCaptn;
    Layout = "~/Views/Shared/_LayOutWithLatestKendoScript.cshtml";
}
<link rel="stylesheet" href="~/buttncss/style/cssNew.css" type="text/css" />
<link href="~/Src/Styles/HtnStyles/SMLQuatation/iziToast.min.css" rel="stylesheet" />
<div>
    <div class="k-content clearfix" id="filterCont">
        @*Button section Start*@
        <div class="col-md-12 control-icons" id="ButtonSet">
            <div id="ButtonSec1" class="col-md-9 col-sm-9">
                @*<button id="saveBtn" class="control-button save" onclick="SaveUpdate('save') " data-tooltip="Save"> </button>*@
            </div>
            <div class="col-md-3 col-sm-3 pull-right">
                <input class="cmbNxtStatesActions pull-right" id="cmbNxtStatesActions" style="height: 30px; margin-top: 10px; width: 100px;"/>
                <button class="k-button pull-right" id="btnNxtStatesAction" onclick="NxtStatesAction();" title="Next State Action" style="height: 35px; margin-top: 10px; margin-left: 10px; background-color: blue; color: white;">NxtAprStrs</button>
            </div>
        </div>
        <div class="col-md-12 col-sm 12">
            <div class="wr_formGroup">
                <div class="form-group">
                    <div class="row">
                        <div id="HdrSec1_DatPriSetDate">
                            <div class="col-md-4 col-sm-4">
                                <label id="HdrSec1_DatPriSetDate_Lbl">Date:</label>
                            </div>
                            <div class="col-md-2 col-sm-2 ">
                                <input id="HdrSec1_DatPriSetDate_Val"/>
                            </div>
                        </div>
                        <div id="HdrSec1_NmricUSAmt">
                            <div class="col-md-3 col-sm-2">
                            </div>
                            <div class="col-md-1 col-sm-2">
                                <label id="HdrSec1_NmricUSAmt_Lbl">$ :</label>
                            </div>
                            <div class="col-md-2 col-sm-2 ">
                                <input id="HdrSec1_NmricUSAmt_Val" style="text-align: right"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div id="HdrSec1_CmbVehicalInt">
                            <div class="col-md-4 col-sm-4">
                                <label id="HdrSec1_CmbVehicalInt_Lbl">Vehicale of Interesrt</label>
                            </div>
                            <div class="col-md-2 col-sm-2">
                                <div id="HdrSec1_CmbVehicalInt_Cd" data-cpypst-blsmartcpypaste="VehicalModel"></div>
                            </div>
                        </div>
                        <div id="HdrSec1_NmriczPndAmt">
                            <div class="col-md-3 col-sm-2">
                            </div>
                            <div class="col-md-1 col-sm-4">
                                <label id="HdrSec1_NmriczPndAmt_Lbl">£ :</label>
                            </div>
                            <div class="col-md-2 col-sm-2 ">
                                <input id="HdrSec1_NmriczPndAmt_Val" style="text-align: right"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm 12">
            <div id="ConfigGrid"></div>


        </div>

    </div>

</div>
<div>
    @Html.Partial("~/Views/ObjMas/ObjMas_Form_Prop_Setting.cshtml")
</div>
<div>
    @Html.Partial("~/Views/SmlQuatationPriceSet/QuatationFind.cshtml")
</div>
<script>
    var urlGetCdMasName = '@Url.Content("~/ComboLoad/CdNm_SelectMob")';
    var urlGetAdrId = '@Url.Content("~/ComboLoad/AdrID_SelectMob")';
    var urlGetDateTime = '@Url.Content("~/ShowroomLog/ReturnDateTime")';
    var urlSaveUpdateAction = '@Url.Content("~/SmlQuatationPriceSet/InsertUpdateGridDetail")';
    var urlGetExRateAction = '@Url.Content("~/SmlQuatationPriceSet/GetExRate")';
    var urlSaveUpdateExRateAction = '@Url.Content("~/SmlQuatationPriceSet/InsertUpdate")';
    var urlFindAction = '@Url.Content("~/SmlQuatationPriceSet/GetFindForm")';
    @*var urlFindIsCustomer = '@Url.Content("~/ShowroomLog/FindIsCurrentCust")';
    var urlSaveAction = '@Url.Content("~/SMLDemoDrivingLog/SaveAction")';
    var urlUpdateAction = '@Url.Content("~/SMLDemoDrivingLog/UpdateAction")';
    *@
    var urlSelectAction = '@Url.Content("~/SmlQuatationPriceSet/QuatationConFigSelect")';
    var urlCodes = {
        GetCdKyByConCdAndOurCd: '@Url.Content("~/Codes/GetCdKyByConCdAndOurCd")'
    }
    var urlUsrObjPrp_SelectDeepSearchWeb = '@Url.Content("~/ObjMas/UsrObjPrp_SelectDeepSearchWeb")';
    var urlUsrObjPrp_SelectAllLastChildWeb = '@Url.Content("~/ObjMas/UsrObjPrp_SelectAllLastChildWeb")';
    var viewBag = {
        ObjKy: '@(ViewBag.ObjKy)',
        OurCd: '@(ViewBag.OurCd)',
        ObjCaptn: '@(ViewBag.ObjCaptn)',
        TimeNow: "@(ViewBag.Time)",
        DateNow: "@(ViewBag.Date)",
    }
    var urlCommon = {
        GetItmRateDisTax: '@Url.Content("~/Common/GetItmRateDisTax")',
        AprStsNm_SelectWeb: '@Url.Content("~/Common/AprStsNm_SelectWeb")',
        TrnHdrApr_LatestState: '@Url.Content("~/Common/TrnHdrApr_LatestState")',
        TrnHdrApr_NextState: '@Url.Content("~/Common/TrnHdrApr_NextState")',
        TrnHdrApr_InsertWeb: '@Url.Content("~/Common/TrnHdrApr_InsertWeb")'
    }
    var urlObjMas = {
        UsrObjPrp_UpdateWeb: '@Url.Content("~/ObjMas/UsrObjPrp_UpdateWeb")',
        UsrObjPrp_SelectWeb: '@Url.Content("~/ObjMas/UsrObjPrp_SelectWeb")',
        UsrObjSec_SelectWeb: '@Url.Content("~/ObjMas/UsrObjSec_SelectWeb")'
    }

</script>
<script src="~/Scripts/HtnScripts/QuatationPriceSet/QuatationFind.js"></script>
<script src="~/Scripts/HtnScripts/QuatationPriceSet/QuatationPriceSet.js"></script>
<script src="~/Scripts/HtnScripts/QuatationPriceSet/Validation.js"></script>
<script src="~/Scripts/HtnScripts/HtnShared/CommonObjMasPropSet.js"></script>
<script src="~/Scripts/HtnScripts/HtnShared/AprStatesHandling.js"></script>
<script src="~/Scripts/HtnScripts/HtnShared/CopyPaste.js"></script>
<script src="~/Scripts/HtnScripts/SMLQuotation/iziToast.min.js"></script>
