@{
    ViewBag.Title = "Attendence Process";
    Layout = "~/Views/Shared/_LayOutWithLatestKendoScript.cshtml";
}

<link rel="stylesheet" href="~/buttncss/style/cssNew.css" type="text/css" />


<div class="col-md-12  col-sm-12">
    <div class="wr_formGroup_drk">
        <div class="form-group">
            <div class="row">
                @*<div class="col-md-2 col-sm-4">
                    <button type="button" class="button" onclick="Transfer()" value="Transfer" data-tooltip="transfer" style="width:200px; height:30px;">Transfer data from BL7 to BL10 </button>
                </div>*@

            </div>
        </div>
    </div>
</div>



<div id="HdrSec1" style="margin-top:10px;margin-left:30px;margin-right:30px;">
    <div class="col-md-12  col-sm-12">
        <div class="wr_formGroup">
          

            <div class="form-group">
                <div class="row">


                    <div>
                        <div style="margin-left:10px; color:cornflowerblue;"><h5><b>Processing Date Range</b></h5></div>
                        <div>
                            <label style="margin-top:10px; margin-right:85px; margin-bottom:20px;">From Date</label>
                            <input id="HdrPart_FrmDate"
                                   class="" style=""
                                   data-role="datepicker"
                                   data-bind="value: Date" />

                            <label style="margin-top:10px; margin-right:52px; margin-bottom:20px; margin-left:50px;">To Date</label>
                            <input id="HdrPart_ToDate"
                                   class="" style=""
                                   data-role="datepicker"
                                   data-bind="value: Date" />
                        </div>
                    </div>


                    @*<div id="HdrSec1_DatPicRevDate">
                            <div class="col-md-1 col-sm-4">
                                <label id="HdrSec1_DatPicRevDate_Lbl">Date:</label>
                            </div>
                            <div class="col-md-2 col-sm-4">
                                <input id="HdrSec1_DatPicRevDate_Val"
                                       style="width:100%;"
                                       class=""
                                       data-role="datepicker"
                                       data-bind="value: HdrSec1_DatPicRevDate_Val" />
                            </div>
                        </div>*@

                </div>
            </div>







        </div>
    </div>
</div>



<div class="col-md-12  col-sm-12">
    <div class="wr_formGroup_drk">
        <div class="form-group">
            <div class="row">
                <div class="col-md-2 col-sm-4">
                    <button type="button" class="button" onclick="Process()" value="Process" data-tooltip="Process" style="width:80px; height:40px;">Process </button>
                </div>

            </div>
        </div>
    </div>
</div>




<script>

    var todayDate = new Date();
    var dd = todayDate.getDate();
    var mm = todayDate.getMonth() + 1; //January is 0!

    var yyyy = todayDate.getFullYear();
    if (dd < 10) {
        dd = '0' + dd
    }
    if (mm < 10) {
        mm = '0' + mm
    }
    var todayDate = dd + '/' + mm + '/' + yyyy;

    //$('#HdrSec1_DatPicDate_Val').data("kendoDatePicker").value(todayDate);

    var globalVariable = {
        FinItmKy: 1,
        TodayDate: todayDate
    }

    var urlComboLoad = {
        AccCd_SelectMob: '@Url.Content("~/ComboLoad/AccCd_SelectMob")',
        AccNm_SelectMob: '@Url.Content("~/ComboLoad/AccNm_SelectMob")',
        AdrID_SelectMob: '@Url.Content("~/ComboLoad/AdrID_SelectMob")',
        AdrNm_SelectMob: '@Url.Content("~/ComboLoad/AdrNm_SelectMob")',
        Code_SelectMob: '@Url.Content("~/ComboLoad/Code_SelectMob")',
        CdNm_SelectMob: '@Url.Content("~/ComboLoad/CdNm_SelectMob")',
        ItmCd_SelectMob: '@Url.Content("~/ComboLoad/ItmCd_SelectMob")',
        ItmNm_SelectMob: '@Url.Content("~/ComboLoad/ItmNm_SelectMob")'
    }

    var viewBag = {
        ObjKy: '@(ViewBag.ObjKy)',
        OurCd: '@(ViewBag.OurCd)',
        OurCd2: '@(ViewBag.OurCd2)',
        ObjCaptn: '@(ViewBag.ObjCaptn)'
    }



</script>
@*Set Default and Object Properties From ObjMas*@
<script>
    var urlUsrObjPrp_SelectDeepSearchWeb = '@Url.Content("~/ObjMas/UsrObjPrp_SelectDeepSearchWeb")';
    var urlUsrObjPrp_SelectAllLastChildWeb = '@Url.Content("~/ObjMas/UsrObjPrp_SelectAllLastChildWeb")';
</script>


<script src="~/Scripts/HtnScripts/HtnShared/CommonObjMasPropSet.js"></script>
<script src="~/Scripts/HtnScripts/HtnShared/ComboDataSrc.js"></script>
<script src="~/Scripts/HtnScripts/HtnShared/CommonFunction.js"></script>
<script src="~/Scripts/HtnScripts/HtnShared/CopyPaste.js"></script>


<script>
   
    var urlBL7ToBL10AtnClkDet_Insert = '@Url.Content("~/Attendence/BL7ToBL10AtnClkDet_Insert")';
    var urlAtnDet_Insert = '@Url.Content("~/Attendence/AtnClkDetToAtnDet_InsertWeb")';

</script>

<script src="~/Scripts/HtnScripts/Attendence/Attendence.js"></script>
