@{
    ViewBag.Title = "MultiAttendanceEntry";
    Layout = "~/Views/Shared/_LayOutWithLatestKendoScript.cshtml";
}
<link rel="stylesheet" href="~/buttncss/style/cssNew.css" type="text/css" />

<div style="height:40px;" class="k-content clearfix" id="filterCont">
    <button class="control-button load" id="btnSearch" onclick="LoadGrid()" title="Search"></button>
    <button class="control-button add" onclick="AddRow() " title="Add"> </button>
    <button class="control-button save" id="btnSave" onclick="Save()" title="Save"></button>
    <button class="control-button cancel" id="btnCancel" onclick="CancelGridItem()" title="Cancel"></button>
</div>
<div class="padding-15">
    <div class="wr_formGroup" id="HdrSec1">
        <div class="row">
            <!--Employee No -->
            <div class="col-lg-3 col-md-3 col-sm-6" id="HdrSec1_CmbEmpNo">
                <div class="row form-group">
                    <div class="col-md-5 col-sm-6">
                        <label id="HdrSec1_CmbEmpNo_lbl">Employee No:</label>
                    </div>
                    <div class="col-md-7 col-sm-6">
                        <input id="HdrSec1_CmbEmpNo_cd" class="combo width-100" />
                    </div>
                </div>
            </div>
            <!--/Employee No -->
            <!--Employee Name -->
            <div class="col-lg-3 col-md-3  col-sm-6" id="HdrSec1_CmbEmpNm">
                <div class="row form-group">
                    <div class="col-md-4  col-sm-6">
                        <label id="HdrSec1_CmbEmpNm_lbl">Employee Name:</label>
                    </div>
                    <div class="col-md-8  col-sm-6">
                        <input id="HdrSec1_CmbEmpNm_Nm" class="combo width-100" />
                    </div>
                </div>
            </div>
            <!--/Employee Name -->
            <!--From Date -->
            <div class="col-md-3  col-sm-6" id="HdrSec1_DteFrmDate">
                <div class="row form-group">
                    <div class="col-md-5  col-sm-6">
                        <label id="HdrSec1_DteFrmDate_Lbl">From Date:</label>
                    </div>
                    <div class="col-md-7  col-sm-6">
                        <input id="HdrSec1_DteFrmDate_Val" data-role="datepicker" data-bind="value: Date" />
                    </div>
                </div>
            </div>
            <!--/From Date -->
            <!--To Date -->
            <div class="col-md-3  col-sm-6" id="HdrSec1_ToDate">
                <div class="row form-group">
                    <div class="col-md-5  col-sm-6">
                        <label id="HdrSec1_ToDate_Lbl">To Date:</label>
                    </div>
                    <div class="col-md-7  col-sm-6">
                        <input id="HdrSec1_ToDate_Val" data-role="datepicker" data-bind="value: Date" />
                    </div>
                </div>
            </div>
            <!--/To Date -->
        </div>
    </div>
</div>
<div class="padding-15" id="HdrSec2">
    <div class="col-md-12 col-sm-12 wr_formGroup_grid" id="ChildHdrpart">

        <div class="row">
            <!--Project ID -->
            <div class="col-md-3  col-sm-6" id="HdrSec2_CmbPrjId">
                <div class="row form-group">
                    <div class="col-md-5  col-sm-6">
                        <label id="HdrSec2_CmbPrjId_Lbl">Project ID:</label>
                    </div>
                    <div class="col-md-7  col-sm-6">
                        <input id="HdrSec2_CmbPrjId_Cd" />
                    </div>
                </div>
            </div>
            <!--/Project ID -->
            <!--Project Name-->
            <div class="col-md-3  col-sm-6" id="HdrSec2_CmbPrj">
                <div class="row form-group">
                    <div class="col-md-5  col-sm-6">
                        <label id="HdrSec2_CmbPrj_Lbl">Project Name :</label>
                    </div>
                    <div class="col-md-7  col-sm-6">
                        <input id="HdrSec2_CmbPrj_Nm" />
                    </div>
                </div>
            </div>
            <!--/Project Name -->
            <!--Task ID-->
            <div class="col-md-3  col-sm-6" id="HdrSec2_CmbTskId">
                <div class="row form-group">
                    <div class="col-md-5  col-sm-6">
                        <label id="HdrSec2_CmbTskId_Lbl">Task ID:</label>
                    </div>
                    <div class="col-md-7  col-sm-6">
                        <input id="HdrSec2_CmbTskId_Cd" />
                    </div>
                </div>
            </div>
            <!--/Task ID -->
            <!--Task Name-->
            <div class="col-md-3  col-sm-6" id="HdrSec2_CmbTsk">
                <div class="row form-group">
                    <div class="col-md-5  col-sm-6">
                        <label id="HdrSec2_CmbTsk_Lbl">Task Name :</label>
                    </div>
                    <div class="col-md-7  col-sm-6">
                        <input id="HdrSec2_CmbTsk_Nm" />
                    </div>
                </div>
            </div>
            <!--/Task Name -->
        </div>
        <div class="row">
            <!--Date -->
            <div class="col-md-3  col-sm-6" id="HdrSec2_DatAtdDate">
                <div class="row form-group">
                    <div class="col-md-5  col-sm-6">
                        <label id="HdrSec2_DatAtdDate_Lbl">AtdDate:</label>
                    </div>
                    <div class="col-md-7  col-sm-6">
                        <input id="HdrSec2_DatAtdDate_Val" data-role="datepicker" data-bind="value: Date" />
                    </div>
                </div>
            </div>
            <!--/Date -->
            <!--In Time -->
            <div class="col-md-3  col-sm-6" id="">
                <div class="row form-group">
                    <div class="col-md-5  col-sm-6">
                        <label id="">In Time:</label>
                    </div>
                    <div class="col-md-5  col-sm-4">
                        <input id="HdrSec2_InpinTm" />
                    </div>
                </div>
            </div>
            <!--/In Time -->
            <!--Out Time -->
            <div class="col-md-3  col-sm-6" id="">
                <div class="row form-group">
                    <div class="col-md-5  col-sm-6">
                        <label>Out Time:</label>
                    </div>
                    <div class="col-md-5  col-sm-4">

                        <input id="HdrSec2_InpoutTm" />


                    </div>
                </div>
            </div>
            <!--/Out Time -->
            <!--Des -->
            <div class="col-md-3  col-sm-6" id="">
                <div class="row form-group">
                    <div class="col-md-5  col-sm-6">
                        <label> Description:</label>
                    </div>
                    <div class="col-md-5  col-sm-4">

                        <input id="HdrSec2_InpDes" class="k-textbox" />


                    </div>
                </div>
            </div>
            <!--des -->
        </div>


    </div>
</div>

<div class="col-md-12  col-sm-12">
    <div id="MultiAtnGrid" style="height:57vh;"></div>
</div>


<style>
    input[type=time] {
        border: solid 1px #808080;
    }
</style>

<script src="~/Scripts/HtnScripts/HtnShared/ComboDataSrc.js"></script>
<script src="~/Scripts/HtnScripts/HtnShared/CommonObjMasPropSet.js"></script>

<script src="~/Scripts/HtnScripts/HtnShared/CopyPaste.js"></script>

<script>

                var todayDate = new Date();
                var dd = todayDate.getDate();
                var mm = todayDate.getMonth() + 1; //January is 0!

                var yyyy = todayDate.getFullYear();
                if (dd < 10) {
                    dd = '0' + dd
                }
                if (mm < 10) {
                    mm = '0' + mm
                }
                var todayDate = dd + '/' + mm + '/' + yyyy;

                //$('#HdrSec1_DatPicDate_Val').data("kendoDatePicker").value(todayDate);

                var globalVariable = {
                    FinItmKy: 1,
                    TodayDate: todayDate
                }

                var urlComboLoad = {
                    AccCd_SelectMob: '@Url.Content("~/ComboLoad/AccCd_SelectMob")',
                    AccNm_SelectMob: '@Url.Content("~/ComboLoad/AccNm_SelectMob")',
                    AdrID_SelectMob: '@Url.Content("~/ComboLoad/AdrID_SelectMob")',
                    AdrNm_SelectMob: '@Url.Content("~/ComboLoad/AdrNm_SelectMob")',
                    Code_SelectMob: '@Url.Content("~/ComboLoad/Code_SelectMob")',
                    CdNm_SelectMob: '@Url.Content("~/ComboLoad/CdNm_SelectMob")',
                    ItmCd_SelectMob: '@Url.Content("~/ComboLoad/ItmCd_SelectMob")',
                    ItmNm_SelectMob: '@Url.Content("~/ComboLoad/ItmNm_SelectMob")',

                    PrjID_SelectMob: '@Url.Content("~/ComboLoad/PrjID_SelectMob")',
                    PrjNm_SelectMob: '@Url.Content("~/ComboLoad/PrjNm_SelectMob")',


                    TaskID_SelectMob: '@Url.Content("~/ComboLoad/TaskID_SelectMob")',
                    TaskNm_SelectMob: '@Url.Content("~/ComboLoad/TaskNm_SelectMob")',

                }

                var viewBag = {
                    ObjKy: '@(ViewBag.ObjKy)',
                    OurCd: '@(ViewBag.OurCd)',
                    OurCd2: '@(ViewBag.OurCd2)',
                    ObjCaptn: '@(ViewBag.ObjCaptn)'
                }




</script>
@*Set Default and Object Properties From ObjMas*@
<script>
                var urlUsrObjPrp_SelectDeepSearchWeb = '@Url.Content("~/ObjMas/UsrObjPrp_SelectDeepSearchWeb")';
                var urlUsrObjPrp_SelectAllLastChildWeb = '@Url.Content("~/ObjMas/UsrObjPrp_SelectAllLastChildWeb")';
</script>


<script>

                var urlMultiAtnDet_SelectWeb = '@Url.Content("~/Attendence/MultiAtnDet_SelectWeb")';
                var urlMultiAtnDet_InsertWeb = '@Url.Content("~/Attendence/MultiAtnDet_InsertWeb")';
                var urlMultiAtnDet_UpDateWeb = '@Url.Content("~/Attendence/MultiAtnDet_UpdateWeb")';

                var urlEmpMas = {
                    Employee_LookUp_Web: '@Url.Content("~/OTEntry/GetEmployee")',

                };

</script>






<script src="~/Scripts/HtnScripts/HtnShared/CommonFunction.js"></script>
<script src="~/Scripts/HtnScripts/Transaction/ComboDataSource.js"></script>
<script src="~/Scripts/HtnScripts/HtnShared/CommonObjMasPropSet.js"></script>
<script src="~/Scripts/HtnScripts/HtnShared/ComboDataSrc.js"></script>
<script src="~/Scripts/HtnScripts/HtnShared/CopyPaste.js"></script>

<script src="~/Scripts/HtnScripts/Attendence/MultiAttendenceEntry.js"></script>
